#set($menuId = "reharvest-form")
#set($menuClass = "hidden notice")
#define($menuTitle)
    <span id="reharvest-loading" class="right"><img src="$portalPath/images/icons/loading.gif" alt="Loading" /></span>Reharvest
#end
#parseTemplate("wrapping/info-box-open.vm")
<div class="info">
    <b>PLEASE WAIT</b>
    <p id="reharvest-in-progress">Reharvest of '$title' in progress...</p>
    <p class="hidden" id="reharvest-complete">Reharvest completed, please <a href="$portalPath/detail/$oid">refresh</a> to view the latest version</p>
    ##<ul id="reharvest-progress"></ul>
</div>
#parseTemplate("wrapping/info-box-close.vm")
