<script type="text/javascript" src="$portalPath/js/jquery.timeago-0.8.2.js"></script>
<script type="text/javascript" src="$portalPath/js/anotar/anotar-0.2.min.js"></script>
<script type="text/javascript">
<!--
    function loadAnnotations(config, rootUri) {
        jQuery.post("$portalPath/actions/anotar.ajax",
            {   "action": "getList",
                "rootUri": rootUri,
                "type": config.annoType
            },
            function(data, status) {
                jQuery.each(data, function(count, item) {
                    try{
                        config.loadAnnotation(item);
                    } catch(e) {
                        if (window.console) {
                            console.log("error:'" + e +
                                    "' rootUri:'" + item.annotates.rootUri +
                                    "' content:'" + item.content.literal + "'");
                        }
                    }
                });
            },
            "json");
    }

    function submitAnnotation(config, rootUri, data, annotateDiv) {
        jQuery.post("$portalPath/actions/anotar.ajax",
            {   "action": "put",
                "rootUri": rootUri,
                "json": JSON.stringify(data)
            },
            function(data, status) {
                try {
                    config.loadAnnotation(data);
                } catch(e) {
                    if (window.console) {
                        console.log("error:'" + e +
                                "' rootUri:'" + data.annotates.rootUri +
                                "' content:'" + data.content.literal + "'");
                    }
                }
            },
            "json");
    }
-->
</script>
