<div class="container_16">

#parse($page.getTemplate('layout/header-branding.vm'))
#parse($page.getTemplate('layout/header-application.vm'))
#parse($page.getTemplate('layout/page-content.vm'))

  <div class="clear">&nbsp;</div>
</div>
