<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>The Fascinator - Portal</display-name>
    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>com.googlecode.fascinator.portal</param-value>
    </context-param>
    <listener>
        <listener-class>com.googlecode.fascinator.portal.servlet.IndexerServletContextListener</listener-class>
    </listener>
    <!-- URL Rewrite -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ActiveMQ session filter -->
    <!--
    <filter>
        <filter-name>ActiveMqSessionFilter</filter-name>
        <filter-class>org.apache.activemq.web.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActiveMqSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <!-- Tapestry 5 -->
    <filter>
        <filter-name>portal</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>portal</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!-- Indexer service -->
    <servlet>
        <servlet-name>indexer</servlet-name>
        <servlet-class>com.googlecode.fascinator.portal.servlet.IndexerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- ActiveMQ AJAX messaging service -->
    <!--
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/amq/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
