<div class="mainmenu#if($menuClass) $!menuClass#end"#if($menuId) id="$!menuId"#end>
    ## mainmenu-top is fixed width to 180px, so we use specialmenuheading
    ## <div class="mainmenu-top"></div>
    <div class="specialmenuheading-top">
        <div class="specialmenuheading-topright"></div>
    </div>
    <div class="specialmenuheading-heading">#if($menuTitle)$!menuTitle#{else}&nbsp;#end</div>
## Reset parameters
#set($menuId = $NULL)
#set($menuClass = $NULL)
#set($menuTitle = $NULL)
