<div class="relatedlinks#if($menuClass) $!menuClass#end"#if($menuId) id="$!menuId"#end>
  <div class="relatedlinks-heading">
    <div class="relatedlinks-heading-bl">
      <div class="relatedlinks-heading-br">
        <div class="relatedlinks-heading-tl">
          <div class="relatedlinks-heading-tr">
            <div class="relatedlinks-headingtext">#if($menuTitle)$!menuTitle#{else}&nbsp;#end</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relatedlinks-body">
    <div class="relatedlinks-body-bl">
      <div class="relatedlinks-body-br">
        <div class="relatedlinks-bodytext">
## Reset parameters
#set($menuId = $NULL)
#set($menuClass = $NULL)
#set($menuTitle = $NULL)
