#set($oid = $velocityContext.get('formData').get('oid'))
<script type="text/javascript">
  var action = null;
</script>
<span class="simple-workflow component-wrapper">
$buttonHtml
</span>
<script type="text/javascript">
   function saveData(unmanagedData, isValid,something, serverData) {  
         var url = '$portalPath/workflows/simpleworkflow.ajax?func=action&action='+action+'&oid=$oid';
         jQuery.ajax({type:"POST", url:url, data:serverData,
			success:function(){ alert('success');},
			error:function(xhr, status, e){},
			dataType:"json"
		}); 
    }
    
    function preSave() {
    	return true;
    }

</script>