#set($oid = $velocityContext.get('formData').get('oid'))
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaRegexes.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaUtilities.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaValidation.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaWidgets.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaUI.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaForm.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/validatious/validatious.2.0.min.0.9.1.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/jaffa.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/myJaffa.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/text.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/dropDown.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets-ini.js"></script>

<!-- form id="simpleworkflow-form" -->
<div id="simpleworkflow-form">
	$fieldElementsHtml
	$divElementsHtml
	$buttonElementsHtml
</div>	
<!-- /form -->

<script type="text/javascript">
  var jaffa = jaffaFactory({
        debuggingEnabled: true,
        urlDataSource: "$portalPath/workflows/simpleworkflow.ajax?func=get-tfpackage&oid=$oid",
        formSelector: "#simpleworkflow-form",
        functionSaveData: saveData,
        callbackPreSave: preSave
    });
    
     
    function preSave() {
    	return true;
    }

</script>

$formFooterHtml