$elementHtml

<script type="text/javascript">
$(document).ready(function() {
        #set($validationTypes = $validation.get("save-rules"))
 
        var intervalId = window.setInterval(function() {
             if($("[id='$validation.get("validation-id")']").length > 0) {
		 
			 #foreach($validationType in $validationTypes)
					#if($validationType.class.simpleName == "JsonObject") ## NOT AS SIMPLE AS REQUIRED
	      				#foreach($validationParam in $validationType.keySet())
	      					jaffa.valid.addNewRule('$validationParam', '$validationType.get($validationParam).get("validationType")', 
	      							[
									#set($itemCount = 1)
									#set($params = $validationType.get($validationParam).get("params"))
									#foreach($param in $params)
										"$param"#if($itemCount != $params.size()),#end
						    		 	#set($itemCount = $itemCount+1)
						    		 #end
						            ]
	      					);
	              		#end
	        		#end
	      		 #end
		 
            jaffa.valid.setSaveRules("$validation.get("validation-id")",  [
		   	    #set($validationTypeCount = 1)
	 			#foreach($validationType in $validationTypes)
				    
				    #if($validationType.class.simpleName == "JsonObject")
						#foreach($validationParam in $validationType.keySet())
							#set($validationElement = $validationParam)
	       				#end
				    #else
						#set($validationElement = $validationType)
				    #end
	   				"$validationElement"#if($validationTypeCount != $validationTypes.size()),#end
	         		 #set($validationTypeCount = $validationTypeCount+1)
	 			#end
	     
		 ], null, validationFail);
     				
         jaffa.valid.setSubmitRules("$validation.get("validation-id")",  [
	   	    #set($validationTypeCount = 1)
	 			#foreach($validationType in $validationTypes)
				    
				    #if($validationType.class.simpleName == "JsonObject")
							#foreach($validationParam in $validationType.keySet())
									#set($validationElement = $validationParam)
	        					#end
					    
				    #else
					#set($validationElement = $validationType)
				    #end
						
	   				"$validationElement"#if($validationTypeCount != $validationTypes.size()),#end
	         		 #set($validationTypeCount = $validationTypeCount+1)
	 			#end
	     
		 ], null, validationFail);
	   window.clearInterval(intervalId); }
    },500);    
	}
   );
	 
  var validationMessages = jQuery.parseJSON('$validation.get("validation-messages")');
  var focusId = '$validation.get("focus-id")';
  var validation = {};
  validation["validationMessages"] = validationMessages;
  validation["focusId"] = focusId;
  validationFieldMap["$validation.get("validation-id")"] = validation;
</script>
