$elementHtml

<script type="text/javascript">
$(document).ready(function() {
  
 
        var intervalId = window.setInterval(function() {
             if($("[id='$validation.get("validation-id")']").length > 0) {
                jaffa.valid.setSaveRules("$validation.get("validation-id")",  [
    
		#set($validationTypes = $validation.get("save-rules"))
   	    #set($validationTypeCount = 1)
 			#foreach($validationType in $validationTypes)
   				"$validationType"#if($validationTypeCount != $validationTypes.size()),#end
         		 #set($validationTypeCount = $validationTypeCount+1)
 			#end
     
	 ], null, validationFail);
   
     				jaffa.valid.setSubmitRules("$validation.get("validation-id")",  [
	  	#set($validationTypes = $validation.get("save-rules"))
     #set($validationTypeCount = 1)
 			#foreach($validationType in $validationTypes)
   				"$validationType"#if($validationTypeCount != $validationTypes.size()),#end
         		 #set($validationTypeCount = $validationTypeCount+1)
 			#end
     
	 ], null, validationFail);
        
   window.clearInterval(intervalId); }
       },500);    
      
    }
   
    
   
   );
	 
	 var validationMessages = jQuery.parseJSON('$validation.get("validation-messages")');
	 var focusId = '$validation.get("focus-id")';
	 var validation = {};
	 validation["validationMessages"] = validationMessages;
	 validation["focusId"] = focusId;
	 validationFieldMap["$validation.get("validation-id")"] = validation;
</script>