$elementHtml

<script type="text/javascript">
$(document).ready(function() {
	jaffa.valid.setSaveRules("$validation.get("validation-id")",  [
		#set($validationTypes = $validation.get("save-rules"))
 			#foreach($validationType in $validationTypes)
   				"$validationType",
 			#end
	 ], null, validationFail);});
	 var validationMessages = jQuery.parseJSON('$validation.get("validation-messages")');
	 var focusId = '$validation.get("focus-id")';
	 var validation = {};
	 validation["validationMessages"] = validationMessages;
	 validation["focusId"] = focusId;
	 validationFieldMap["$validation.get("validation-id")"] = validation;
</script>