target/
.name
/.idea
*.iml

plugins/harvester/filesystem/derby.log

.DS_Store
*.prefs
portal/src/main/config/portal/default/default/form-components/field-elements/Jayrepeatable-text.vm

portal/src/main/config/portal/default/default/form-components/field-elements/Jayanzsrc-selection.vm
.classpath

common/.classpath

core/.classpath

plugin-api/.classpath

plugins/access/derby/.classpath

plugins/authentication/filesystem/.classpath

plugins/authentication/internal/.classpath

plugins/harvester/filesystem/.classpath

vocabulary/.classpath

plugins/harvester/oai-pmh/.classpath

plugins/harvester/workflow/.classpath

plugins/indexer/solr/.classpath

plugins/roles/internal/.classpath

plugins/storage/filesystem/.classpath

plugins/storage/ram/.classpath

plugins/subscriber/solrEventLog/.classpath

plugins/transformer/aperture/.classpath

plugins/transformer/ffmpeg/.classpath

plugins/transformer/ice2/.classpath

plugins/transformer/ims/.classpath

plugins/transformer/jython/.classpath

portal/.classpath

.gitignore
