<script type="text/javascript">
<!--
    function loginNow() {
        $("#login-message").empty();
        $("#login-error").hide();
        $("#login-form").dialog('open');
        $("#username").focus();
    }
    $(function() {
        var dialogOpts = {
            title: "Login",
            autoOpen: false,
            hide: "blind",
            modal: true,
            width: "450px"
        }
        $(".login-now").click(function() {
            $("#login-form").dialog(dialogOpts);
            loginNow();
            return false;
        });
        $("#logout-now").click(function() {
            jQuery.post("$portalPath/authentication.ajax",
                { verb: "logout" },
                function(data, status) {
                    window.location.reload();
                });
            return false;
        });
        $("#login-cancel").click(function() {
            $("#login-message").empty();
            $("#login-error").hide();
            $("#login-form").dialog('close');
            return false;
        });
        $("#login-submit").click(function() {
            $("#login-message").empty();
            $("#login-loading").show();
            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/login.ajax",
                success:
                    function(data, status) {
                        window.location.reload();
                    },
                error:
                    function (req, status, e) {
                        $("#login-loading").hide();
                        $("#login-error").show();
                        $("#login-message").html(req.responseText);
                    },
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    verb: "login"
                }
            });
        });
        $("#username").keypress(function(e) {
            if (e.keyCode == 13) {
                $("#password").focus();
            }
        });
        $("#password").keypress(function(e) {
            if (e.keyCode == 13) {
                $("#login-submit").click();
            }
        });
    });
-->
</script>

#parse($page.getTemplate('dialogs/login-form.vm'))