#macro(configError $msg $isAdmin)
    #########################
    ###  Outdated Configuration
    #if ($msg == "out-of-date")
        <b>IMPORTANT</b><br/>
        The system has detected that the current configuration file is outdated.
        Please update your configuration or restore the default configuration
        and restart.<br/>
        #if (!$isAdmin)
        <b>You will need to be logged in as an administrator to do this via
        the web interface.</b>
        #else
        <script type="text/javascript">
        <!--
            $(function() {
                $(".restore-default-config").click(function() {
                    jQuery.post("$portalPath/actions/settings.ajax",
                        { func: "restore-default-config" },
                        function(data, status) { window.location.reload(); });
                    return false;
                });
            });
        -->
        </script>
        <div class="administrator login-error">
            <b>Administrator information:</b><br/>
            The version number in the configuration file does not match the installed
            server version. You have two options:
            <ol>
                <li>
                    You can <a href="#" class="restore-default-config">click here</a>
                    to have the server automatically update to the latest sample
                    configuration file. <strong>You current configuration file will be
                    backed up to 'system-config.json.old'.</strong>
                </li>
                <li>
                    You can manually edit your configuration file on disk and ensure the
                    version number is updated.
                </li>
            </ol>
        </div>
      #end
    #end

    #########################
    ###  Not yet configured
    #if ($msg == "configure")
        <b>IMPORTANT</b><br/>
        The Fascinator has not yet been configured. Please set your email
        address on the <a href="$portalPath/settings">settings page</a>.<br/>
        #if (!$isAdmin)
        <b>You will need to be logged in as an administrator to do this via
        the web interface.</b>
        #end
    #end
#end

#set ($isAdmin = $page.authentication.is_admin())
#set ($blockingNotifications = false)
#if (!$notifications.isEmpty())
    <div class="grid_16">
        #set($menuId = "notifications")
        #set($menuClass = "articles hidden")
        #set($menuTitle = "System notifications")
        #parseTemplate("wrapping/info-box-open.vm")
        <div class="content">
            #########################
            ###  'Blocking'/urgent messages first

            #set ($normalMsgs = 0)
            #foreach($notice in $notifications)
                #if ($notice.block)
                    #set ($blockingNotifications = true)
                    <div class="blocking">
                        #if ($notice.message == "out-of-date" || $notice.message == "configure")
                            #configError("$notice.message" $isAdmin)
                        #else
                            $notice.getDate() : $notice.message
                        #end
                    </div>
                #else
                    #set ($normalMsgs = $normalMsgs + 1)
                #end
            #end

            #########################
            ###  Normal messages

            #if ($normalMsgs > 0 && $isAdmin)
                <div class="lowHeader">
                    <b>$normalMsgs low priority message(s)</b>
                    <span class="lowManage hidden">PURGE ALL</span>
                    <a class="lowHide hidden" href="#">hide message &raquo;</a>
                    <a class="lowShow" href="#">show me &raquo;</a>
                </div>
                <div id="lowMessages" class="hidden">
                    #foreach($notice in $notifications)
                        #if (!$notice.block)
                            <div id="confirm$notice.id" class="normal">
                                <div rel="$notice.id" class="confirm">OK</div>
                                $notice.getDate() : $notice.message
                            </div>
                        #end
                    #end
                </div>
            #end
        </div>
        #parseTemplate("wrapping/info-box-close.vm")
    </div>
    <script type="text/javascript">
    <!--
        $(function() {
            #if ($blockingNotifications || ($normalMsgs > 0 && $isAdmin))
            $("#notifications").show();
            #end
            $("#notifications .lowShow").click(function() {
                $("#notifications #lowMessages").show();
                $("#notifications .lowManage").show();
                $("#notifications .lowHide").show();
                $(this).hide();
                return false;
            });
            $("#notifications .lowHide").click(function() {
                $("#notifications #lowMessages").hide();
                $("#notifications .lowManage").hide();
                $("#notifications .lowShow").show();
                $(this).hide();
                return false;
            });
            $("#notifications .lowManage").click(function() {
                var answer = confirm('Do you really want to purge all low priority messages from the system?');
                if (answer) {
                    jQuery.ajax({
                        type : "POST",
                        url : "$portalPath/actions/admin.ajax",
                        success:
                            function(data, status) {
                                $("#notifications #lowMessages").fadeOut(600, function() {
                                    $("#notifications .lowHeader").fadeOut(600, function() {
                                        #if (!$blockingNotifications)
                                        $("#notifications").fadeOut();
                                        #end
                                    });
                                });
                            },
                        error:
                            function (req, status, e) {
                                alert(req.responseText);
                            },
                        data: {
                            message: "ALL",
                            verb: "confirm-message"
                        }
                    });
                }
                return false;
            });
            $("#notifications .confirm").click(function() {
                var msgId = $(this).attr("rel");
                jQuery.ajax({
                    type : "POST",
                    url : "$portalPath/actions/admin.ajax",
                    success:
                        function(data, status) {
                            $("#confirm" + msgId).fadeOut();
                        },
                    error:
                        function (req, status, e) {
                            alert(req.responseText);
                        },
                    data: {
                        message: msgId,
                        verb: "confirm-message"
                    }
                });
                return false;
            });
        });
    -->
    </script>
    <div class="clear"></div>
#end
