#macro(buildSecurityFields $data)
  #foreach($plugin in $data)
    <table class="security-table" summary="Security data for $plugin.getId()">
      <thead>
        <tr><th class="table-head">$plugin.getName()</th></tr>
      </thead>
      <tfoot>
        <tr id="security-new-$plugin.getId()" class="hidden">
          <td>
            New role:
            <input type="text" id="security-new-role-$plugin.getId()" />
            <input type="button" class="security-new-submit" rel="$plugin.getId()" value="Add Role" />
          </td>
        </tr>
        <tr><th><a class="add-role-button" href="#" rel="$plugin.getId()">Add a role</a></th></tr>
      </tfoot>
      <tbody>
        <tr><th>Roles current granted access:</th></tr>
        <tr id="security-loading-$plugin.getId()"><td><img src="$portalPath/images/icons/loading.gif" alt="Loading" /></td></tr>
        <tr id="security-empty-$plugin.getId()" class="hidden"><td>None yet...</td></tr>
      </tbody>
      <tbody id="security-rows-$plugin.getId()">
        <tr><td>&nbsp;</td></tr>
      </tbody>
    </table>
  #end
#end

<div class="box hidden" id="security-form">
  <form id="security" method="post">
    <fieldset class="search">
      <legend><span class="legend">Security</span></legend>
      <div class="stop-error hidden" id="security-error">
        <span id="security-message"></span>
      </div>

      <div id="workflowSecurity">
        <p>Item: '<span id="security-legend"></span>'</p>
        <p>This item is managed by a workflow. Most workflows enforce their own security, but some will allow you to override.</p>
        <p><input type="checkbox" id="wfOverride" /> Override workflow security with my own.</p>
      </div>

      <div id="customSecurity">
        <p>Below are all the currently active security plugins and the roles they allow access to this item:</p>
        <div id="security-field-holder">
    #buildSecurityFields($page.authentication.get_plugins_access())
        </div>
        <input id="security-cancel" type="button" value="Close" />
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
<!--
    $(function() {
        var dialogOpts = {
            autoOpen: false,
            hide: "blind",
            width: 330,
            modal: true
        }

        $(".add-role-button").click(function() {
            pluginId = $(this).attr("rel");
            $("#security-message").empty();
            $("#security-error").hide();
            $("#security-new-" + pluginId).show();
            return false;
        });

        $(".security-new-submit").click(function() {
            var pluginId = $(this).attr("rel");
            $("#security-message").empty();
            $("#security-error").hide();
            $("#security-new-" + pluginId).hide();
            $("#security-loading-" + pluginId).show();

            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/admin.ajax",
                success:
                    function(data, status) {
                        addRow(pluginId, data);
                        $("#security-empty-" + pluginId).hide();
                        $("#security-loading-" + pluginId).hide();
                    },
                error:
                    function (req, status, e) {
                        $("#security-error").show();
                        $("#security-message").html(req.responseText);
                        $("#security-loading-" + pluginId).hide();
                    },
                data: {
                    record: recordId,
                    role: $("#security-new-role-" + pluginId).val(),
                    source: pluginId,
                    verb: "grant-access"
                }
            });

            return false;
        });

        var recordId = "";
        var refresh_link;
        $(".admin-security-link").click(function() {
            refresh_link = $(this);
            recordId = $(this).attr("rel");
            $("#security-message").empty();
            $("#security-error").hide();
            $("#security-form").dialog(dialogOpts);
            $("#security-form").dialog('option', 'title', 'Manage Security');
            $("#security-form").dialog('open');
            $("#security-legend").html(recordId);

            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/admin.ajax",
                success: securityQuery,
                error:
                    function (req, status, e) {
                        $("#security-error").show();
                        $("#security-message").html(req.responseText);
                    },
                data: {
                    record: recordId,
                    verb: "get-current-access"
                }
            });

            return false;
        });

        $("#wfOverride").click(function() {
            var checked = $(this).attr("checked");

            // Notify the server
            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/admin.ajax",
                success:
                    function(data, status) {
                        // Change the UI
                        if (checked) {
                            $("#customSecurity").show();
                        } else {
                            $("#customSecurity").hide();
                        }
                    },
                error:
                    function (req, status, e) {
                        $("#security-error").show();
                        $("#security-message").html(req.responseText);
                        // Reverse the UI change
                        if (checked) {
                            $("#wfOverride").attr("checked", !checked);
                        }
                    },
                data: {
                    record: recordId,
                    wfOverride: checked,
                    verb: "workflow-override"
                }
            });
        });

        function securityQuery(data, status) {
            var response = eval("(" + data + ")");

            // Workflow override
            var workflow = response.workflow;
            if (workflow.hasWf) {
                // We have a workflow
                $("#workflowSecurity").show();
                if (workflow.useWf) {
                    // And we are still using it
                    $("#wfOverride").attr("checked", false);
                    $("#customSecurity").hide();
                } else {
                    // But we've been told to ignore it
                    $("#wfOverride").attr("checked", true);
                    $("#customSecurity").show();
                }
            } else {
                // No workflow
                $("#workflowSecurity").hide();
                $("#customSecurity").show();
            }

            // Plugin data
            var plugins = response.plugins;
            for (var i in plugins) {
                $("#security-rows-" + i).html("");
                if (plugins[i].length == 0) {
                    $("#security-empty-" + i).show();
                    $("#security-loading-" + i).hide();
                } else {
                    $("#security-empty-" + i).hide();
                    len = plugins[i].length;
                    for (var j = 0; j < len; j++) {
                        addRow(i, plugins[i][j]);
                    }
                    $("#security-loading-" + i).hide();
                }
            }
            $(".remove-role-link").click(revoke_access);
        }

        function addRow(pluginId, value) {
            var data = $("#security-rows-" + pluginId).html();
            data += "<tr><td>" + value;
            data += " <a class='remove-role-link' rel='" + pluginId + "' value='" + value + "' href='#'>";
            data += "<img src='$portalPath/images/icons/cross.png'/></a>";
            data += "</td></tr>";
            $("#security-rows-" + pluginId).html(data);
        }

        function revoke_access() {
            var pluginId = $(this).attr("rel");
            $("#security-message").empty();
            $("#security-error").hide();
            $("#security-loading-" + pluginId).show();

            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/admin.ajax",
                success:
                    function(data, status) {
                        refresh_link.click();
                    },
                error:
                    function (req, status, e) {
                        $("#security-error").show();
                        $("#security-message").html(req.responseText);
                        $("#security-loading-" + pluginId).hide();
                    },
                data: {
                    record: recordId,
                    role: $(this).attr("value"),
                    source: pluginId,
                    verb: "revoke-access"
                }
            });

            return false;
        }

        $("#security-cancel").click(function() {
            $("#security-message").empty();
            $("#security-error").hide();
            $("#security-form").dialog('close');
            return false;
        });
    });
-->
</script>
