#set($status = $self.setStatus(403))

#set($pageTitle = "Access Denied")
<h2 id="page-heading">$pageTitle</h2>
<div class="grid_16">
    <div class="box">
        <p>Sorry $page.authentication.get_name(), but you don't have access to view this item.</p>
        #if (!$page.authentication.is_logged_in())
        <p>Would you like to <a class="login-now" href="#">login now</a>?</p>
        <script type="text/javascript">
            <!--
                $(function() {$(".login-now").click();});
            -->
        </script>
        #end
    </div>
</div>
