<div id="form-section" class="grid_12">
  <div class="box" id="workflow-form">
    <fieldset class='search'>
        <legend>Final Approval</legend>
        <form method="post" action="$portalPath/workflow">
            <p><b>Current workflow step</b>: '$self.getFormData('currentStepLabel')'
            <br/><b>Next workflow step</b>: '$self.getFormData('nextStepLabel')'</p>
            <p>This item is about to 'go live', please ensure the metadata below is correct:</p>
            <p>
              <label for="title">Title</label>
              <input type="text" name="title" value="$self.getFormData('title')" />
            </p>
            <p>
              <label for="description">Description</label>
              <input type="text" name="description" value="$self.getFormData('description')" />
            </p>
            <input type="hidden" name="targetStep" value="$self.getFormData('nextStep')" />
            <input type="hidden" name="oid" value="$self.getFormData('oid')" />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </fieldset>
  </div>
</div>