<h2 id="page-heading">Basic Upload</h2>

<div id="form-section" class="grid_12">
  <div class="box" id="basicUpload-form">
    <fieldset class='login'>
        <legend>Please select a file to upload and provide some basic details about it</legend>
        <form method="post" action="$portalPath/workflow" enctype="multipart/form-data">
            <div class="grid_16">
            <p><b>Current workflow step</b>: '$self.getFormData('currentStepLabel')'
            <br/><b>Next workflow step</b>: '$self.getFormData('nextStepLabel')'</p>
            </div>
            <p>
                <label for="upload-file-file">File to upload</label>
                <input type="file" id="upload-file-file" name="upload-file-file" size="40" />
            </p>
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" value="$self.getFormData('title')" />
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text" name="description" value="$self.getFormData('description')" />
            </p>
            <input type="hidden" name="targetStep" value="$self.getFormData('nextStep')" />
            <input type="hidden" name="oid" value="$self.getFormData('oid')" />
            <input type="hidden" name="upload-file-workflow" value="$self.getFormData('workflowId')" />
            <input type="submit" name="submit" value="Upload" class="button" />
        </form>
    </fieldset>
  </div>
</div>
