#macro(pluginList $plugins $type)
    #foreach($plugin in $plugins)
        <div class="pluginAbout" id="$plugin.id">
            <h3>$plugin.name</h3>
            $self.getAboutPage($plugin.id, $type)
        </div>
    #end
#end
#set($pageTitle = "About")
<h2 id="page-heading"><span>About</span></h2>
<div class="grid_16">
    #set($contentTitle = "Description")
    #parseTemplate("wrapping/content-block-open.vm")
    <div class="article first">
        The Fascinator is an extensible, open-source platform for managing your
        digital objects. Using a variety of plugins, you can transform your
        digital objects into new formats, search and browse through your
        collection, collaborate through tagging and annotations, and create
        packages of information for publishing to all manner of systems.
        See our <a href="http://fascinator.usq.edu.au/">website</a> for more
        information.
    </div>
    <p/>
    #parseTemplate("wrapping/content-block-close.vm")
    #set($contentTitle = "Plugins")
    #parseTemplate("wrapping/content-block-open.vm")
    <div id="plugin-tabs">
        <ul>
            <li><a href="#indexer">Indexer</a></li>
            <li><a href="#storage">Storage</a></li>
            <li><a href="#harvester">Harvester</a></li>
            <li><a href="#transformer">Transformer</a></li>
            <li><a href="#access-control">Access control</a></li>
            <li><a href="#authentication">Authentication</a></li>
            <li><a href="#roles">Roles</a></li>
            <li><a href="#subscriber">Subscriber</a></li>
        </ul>
        <div id="indexer">
            #pluginList($self.indexerPlugins, "indexer")
        </div>
        <div id="storage">
            #pluginList($self.storagePlugins, "storage")
        </div>
        <div id="harvester">
            #pluginList($self.harvesterPlugins, "harvester")
        </div>
        <div id="transformer">
            #pluginList($self.transformerPlugins, "transformer")
        </div>
        <div id="access-control">
            #pluginList($self.accessControlPlugins, "access")
        </div>
        <div id="authentication">
            #pluginList($self.authenticationPlugins, "authentication")
        </div>
        <div id="roles">
            #pluginList($self.rolesPlugins, "roles")
        </div>
        <div id="subscriber">
            #pluginList($self.subscriberPlugins, "subscriber")
        </div>
    </div>
    #parseTemplate("wrapping/content-block-close.vm")
</div>
<script type="text/javascript">
<!--
    $(function() {
        $("#plugin-tabs").tabs();
    });
-->
</script>
