#set($pageTitle = "Detail")

#############
## Access Check
#############
#set($ua = $self.getUserAgreement())
#set($renderContent = true)
#if ($ua.isAccessible())

    #############
    ## Security check
    #############
    #if ($self.isAccessDenied())
        #parseTemplate("detail-screen/access-denied.vm")

    #else
        #############
        ## User Agreements
        #############
        #if ($ua.isRequired())
            #set($renderContent = false)
            #parseTemplate("detail-screen/user-agreement.vm")

        #############
        ## Normal page render
        #############
        #else
            #set($metadata = $self.metadata)
            #if($self.isDetail())
                #define($pageHeader)
                    #renderObject($metadata "detail/head")
                #end
            #end

            #if($self.isIndexed())
                #if($self.isDetail())
                    #renderObject($metadata "detail/title")
                    <div class="grid_4">
                        #renderObject($metadata "detail/navigation")
                    </div>
                    <div class="grid_12">
                        #renderObject($metadata "detail")
                    </div>
                #else
                    #set($noLayout = "true")
                    #renderObject($metadata "detail")
                #end
                <script type="text/javascript" src="$portalPath/js/jquery.condense.min.js"></script>
                <script type="text/javascript">
                <!--
                    $(function() {
                        $(".condense").condense({
                            ellipsis: "...",
                            moreText: "<em>(more)</em>",
                            lessText: "<em>(less)</em>"
                        });
                    });
                -->
                </script>
            #else
                #set($status = $self.setStatus(404))
                #set($renderContent = false)
                #parseTemplate("detail-screen/not-found.vm")
            #end
        #end
    #end

#############
## A login is required
#############
#else
    #set($renderContent = false)
    #parseTemplate("detail-screen/login-required.vm")
#end
