#set($pageTitle = "Harvest report")
<div class="grid_6">
  <br>Total records harvested : $self.itemcount</br>
  <br>New records created : $self.newcount</br>
  <br>Number of modified records : $self.modifiedcount</br>
  <br>Number of not modified records : $self.unmodifiedcount</br>
  <br>Number of total records after harvest : $self.totalcount</br>
</div>