#set($pageTitle = "History")
#set($oid = $self.getOid())
<h2 id="page-heading"><span>History</span></h2>
<div class="grid_16">
#if ($oid != "")
    #if ($self.testLogger())
        #set ($results = $self.searchSolr("oid:$oid"))
        #if ($results.getNumFound() > 0)
            ### Normal logic
            #set($contentTitle = "History - '$oid'")
            #parseTemplate("wrapping/content-block-open.vm")
            <div class="article first">
                <p>Showing last $results.getRows() history entries of $results.getNumFound() total. <a href="$portalPath/detail/$oid/">Back to Details page</a>.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Context</th>
                            <th>Type</th>
                            <th>User</th>
                            <th>Timestamp</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                #foreach ($row in $results.getResults())
                        <tr>
                            <td>$row.getFirst("context")</td>
                            <td>$row.getFirst("eventType")</td>
                            <td>$row.getFirst("user")</td>
                            <td>$row.getFirst("eventTime")</td>
                            #set($id = $row.getFirst("id"))
                            <td><a href="/solr/eventlog/select/?q=id:$id">&lt;&lt; View in Solr &gt;&gt;</a></td>
                        </tr>
                #end
                    </tbody>
                </table>
            </div>

        ### 0 Hits
        #else
            #set($contentTitle = "History - '$oid'")
            #parseTemplate("wrapping/content-block-open.vm")
            <div class="article first">
                No results found, <a href="$portalPath/detail/$oid/">back to Details</a>.
            </div>
        #end

    ### Error, no ID
    #else
        #set($contentTitle = "Error")
        #parseTemplate("wrapping/content-block-open.vm")
        <div class="article first">
            <div class="stop-error">Error connecting to Solr, please see system logs.</div>
        </div>
    #end

### Error, no ID
#else
    #set($contentTitle = "Error")
    #parseTemplate("wrapping/content-block-open.vm")
    <div class="article first">
        <div class="stop-error">No object ID provided in URL.</div>
    </div>
#end
</div>
