#set($pageTitle = "Home")

#parseTemplate("elements/atom-link.vm")
<h2 id="page-heading">
  <span>$page.escapeHtml($page.portalName)</span> $atomHtml
</h2>

#parseTemplate("menus/home-main-menu.vm")

<div class="grid_12">
    #if($page.authentication.is_logged_in())
        #parseTemplate("dialogs/view-delete.vm")
    #end
    #if($page.authentication.is_admin())
        #parseTemplate("dialogs/view-reharvest.vm")
    #end
    #parseTemplate("dialogs/basic-search-form.vm")
</div>
<div class="clear"></div>

<!-- IE7 needs a blank div here, class="prefix_4" doesn't work -->
<div class="grid_4">&nbsp;</div>

#parseTemplate("menus/home-new-items.vm")

#set($workflows = $self.workflows)
#if($workflows.size() > 0)
    #parseTemplate("menus/home-task-list.vm")
#else
    #parseTemplate("menus/home-my-items.vm")
#end
<div class="clear"></div>
