#set($pageTitle = "Login")
<script type="text/javascript">
  #set($redirectUrl = $velocityContext.get("request").getParameter("fromUrl"))
  #if($!redirectUrl)  
    var redirectUrl  = "$redirectUrl";
  #end
	$(document).ready(function() {  
    $(".login-now").click();
  });
</script>