#set($pageTitle = "Harvest Log")
<div class="grid_6">
  #set($menuTitle = "Harvest logs")
  <div class="block">
    #if(!$self.latest)
      &nbsp;
    #else
      <ol>
      #foreach($item in $self.latest)
        #set($harvestId = $item.getFirst('harvestId'))
        <li class="">
          <a href="$portalPath/harvestreport/$harvestId">$harvestId</a>
        </li>
      #end
      </ol>
    #end
  </div>
</div>