#set($pageTitle = 'Search')
#set($paging = $self.paging)
#set($hasResult = ($self.result and $paging.totalFound > 0))
#set($packagingEnabled = $page.authentication.is_logged_in())

#parseTemplate("results/search-title.vm")

<div id="action-list" class="grid_4">
    #parseTemplate("results/navigation.vm")
    #parseTemplate("results/facets.vm")
</div>

<div class="grid_12" id="result-list">
    #parseTemplate("dialogs/search-create-view.vm")
    #parseTemplate("results/search-results.vm")
</div>

#if($hasResult)
    #if($is_admin)
        #parseTemplate("dialogs/security-role-management.vm")
        #parseTemplate("dialogs/delete-item.vm")
    #end
    #parseTemplate("results/search-annotations.vm")
#end

#parseTemplate("results/search-footer.vm")
