#set($noLayout = true)
#set($portal = $self.portal)
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>$portal.description</title>
  <link rel="alternate" type="text/html" href="${urlBase}"/>
  <link rel="alternate" type="application/atom+xml" href="${portalPath}/feed/atom"/>
  #if($self.hasResults())
    #foreach($item in $self.result.getResults())
        #set($summary = "")
        #set($content = "")
        #set($oid = $item.get("id"))
        
        #if($item.get("dc_title"))
            #set($title = $self.cleanUp($item.get("dc_title")))
        #else
            #set($title = $self.cleanUp($self.getFileName($oid)))
        #end
        
        #if($item.get("dc_description"))
            #set($summary = $self.cleanUp($item.get("dc_description")))
            #set($content = $self.cleanUp($item.get("dc_description")))
        #end
        
        <entry>
            <title>$title</title>
            <author><name>fascinator</name></author>
            <link href="${urlBase}$portal.name/detail/$oid"/>
            <id>$oid</id>
            <updated>$item.get("last_modified")</updated>
            <published></published>
            #if ($summary)
                <summary type="text">$summary</summary>
            #end
            #if ($content)
                <content type="text">$content</content>
            #end
         </entry>
    #end
	
  #end
  
</feed>




 





