#set($noLayout = true)
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="$portalPath/feed/oai-pmh/xsl/oai2html.xsl"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$!self.responseDate</responseDate>
    #if($self.getError() != $nullValue)
        #set($code = $self.getError().getCode())
        #set($message = $self.getError().getMessage())
        #if ($code == "badVerb")
    <request>$portalPath/feed/oai</request>
        #else
    <request#if($self.getVerb() != $nullValue) verb="$!self.getVerb()"#end #if($self.getToken() != $nullValue) resumptionToken="$self.getToken().getToken()"#end>$portalPath/feed/oai</request>
        #end
        <error code="$code">$message</error>
    #else
    <request#if($self.getVerb() != $nullValue) verb="$!self.getVerb()"#end #if($self.getToken() != $nullValue) resumptionToken="$self.getToken().getToken()"#end>$portalPath/feed/oai</request>
        #set($itemList = $self.getResult().getResults())
        #parseTemplate("feed/oai-pmh/${self.verb}.vm")
    #end
</OAI-PMH>
