#if($self.isAjax)
$self.json
#else
<h2 id="page-heading">Package</h2>
<div class="clear"></div>
##set($manifest = $self.manifest)
##set($oid = $self.getFormData('oid'))
##set($title = $self.getFormData('title'))

<div id="action-list" class="grid_4">
  <div class="box menu">
    <h2>Actions</h2>
    <ul class="menu" id="actions">
      ##<li><a href="#" id="package-modify">Select package items...</a></li>
      #if($self.oid!="")
      <li><a href="$portalPath/detail/$self.oid">View package...</a></li>
      #end
      <li>
        <a href="#" id="create-new-package">
            <img src="$portalPath/images/icons/loading.gif" class="hidden right" id="package-selected-loading" alt="Loading" />
            Create new package
        </a>
       </li>
    </ul>
  </div>
</div>

<div id="" class="grid_12">
  <div class="box">
    <h2>Package Properties</h2>
    <div>
      <form method='POST' action="$portalPath/package" id="pp-form">
      <fieldset>
        <table><tbody>
          <tr>
           <td style='width:14ex;'><label for="package-type-select">Package type</label></td>
           <td>
            <select id='package-type-select' style='width:16ex;' name='packageType'>
            #foreach($pt in $self.packageTypes)
                <option value='$pt' #if($pt==$self.selectedPackageType)selected='selected' #end>$pt</option>
            #end
            </select>
           </td>
          </tr>
          <tr>
           <td><label for="package-title">Package title</label></td>
           <td>
            <input type="text" id="package-title" size="32" placeholder="The title for this package"
                value="$self.getPackageTitle()" name="title" />
           </td>
          </tr>
#if(false)
          <tr>
           <td><label for="package-creator">Creator</label></td>
           <td>
             <input type="text" id="package-creator" size="64" placeholder="The name of the person creating this package"
                value="$self.getMeta('creator')" name="creator" />
           </td>
          </tr>
          <tr>
           <td><label for="package-abstract">Abstract</label></td>
           <td>
             <input type="text" id="package-abstract" size="64" placeholder="Abstract"
                value="$self.getMeta('abstract')" name="abstract" />
           </td>
          </tr>
#end
          <tr>
           <td><label for="package-description">Description</label></td>
           <td>
             <input type="text" id="package-description" size="64" placeholder="Description of the package"
                value="$self.getMeta('description')" name="description" />
           </td>
          </tr>
        </tbody></table>
        <div style="padding-left:20ex;">
            #if($self.oid!="")
             <input class="button" id="update-package" type="submit" value="Update" />
            #else
             <input class="button" id="create-new-package2" type="button" value="Create new package" />
            #end
            <input type="hidden" name="oid" value="$self.oid" />
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>

<script type='text/javascript'>
<!--
    $(function(){
        var jQ=$;
        jQ("#package-type-select").change(function(){
            jQ("#pp-form").submit();
        });

        jQ("#create-new-package2,#create-new-package").click(function(){
            $("#package-selected-loading").show();
            jQ.ajax({type:"POST", url: "$portalPath/actions/packaging.ajax",
                data:{ajax:1, func:"create-new",
                    packageType:$("#package-type-select").val(),
                    metaList:["title", "description"],
                    title:$("#package-title").val(),
                    description:$("#package-description").val()},
                success:function(data){
                    $("#package-selected-loading").hide();
                    if(data.status=="ok"){
                        window.location.href = data.url;
                    }else{
                        alert("Failed to create package!");
                    }
                },
                error:function(xhr, status, e){
                    $("#package-selected-loading").hide();
                    alert("Failed to create package!");
                },
                dataType:"json"});
            return false;
        });
    });
-->
</script>

#end