#set($pageTitle = 'Message Queue Information')

<h2 id="page-heading">
  <span>$pageTitle</span>
</h2>

#if (!$page.authentication.is_admin())
  <div class="box">
    <div class="block">
      <div class="login-error">
        Sorry, but you need to be logged in as an administrator to use this screen.
      </div>
    </div>
  </div>

#else
<div class="grid_16">
  #set ($qData = $page.getQueueStats())
  #if ($qData.size() != 0)
#set($contentTitle = "Message Queues")
#parse($page.getTemplate('wrapping/content-block-open.vm'))
#set($contentTitle = $nullValue)
  <div class="block">
    <table class="queue-stats">
      <thead>
        <tr class="group">
          <th>&nbsp;</th>
          <th colspan="3">Last few minutes</th>
          <th colspan="3">Since system start</th>
        </tr>
        <tr>
          <th>Queue ID</th>
          <th>Size</th>
          <th>Throughput</th>
          <th>RAM% Usage</th>
          <th>Messages</th>
          <th># Lost</th>
          <th>Average Wait Time</th>
        </tr>
      </thead>
      <tbody>
      #foreach ($queue in $qData.keySet())
        #set ($q = $qData.get($queue))
        <tr>
          <th>$queue</th>
          <td>$q.get("size") M</td>
          <td>$q.get("speed") M/min</td>
          <td>$q.get("memory")%</td>
          <td>$q.get("total") M</td>
          <td>$q.get("lost") M</td>
          <td>$q.get("average") seconds</td>
        </tr>
        #set ($desc = $self.getDescription($queue))
        #if ($queue == "houseKeeping")
            #set ($desc = "House keeping queue for system management activities.")
        #end
        <tr>
          <td colspan="7" class="description">
            <img src="$portalPath/images/icons/sub-arrow.png" />
            $desc
          </td>
        </tr>
      #end
      </tbody>
    </table>
    <a id="hide-descriptions" class="hidden" href="#">[Hide Descriptions]</a>
    <a id="show-descriptions" href="#">[Show Descriptions]</a>
  </div>
#parse($page.getTemplate('wrapping/content-block-close.vm'))

<div class="block">
    #set($contentTitle = "Test message queue")
    #parseTemplate("wrapping/content-block-open.vm")
    <br/>
    <p>Use this to test message queues. No validation is done on the messages sent, use with caution.</p>
    <fieldset class="login">
        <p>
            <label for="queueName">Queue</label>
            <select id="queueName" name="queueName">
                #foreach($queueId in $qData.keySet())
                    <option value="$queueId">$queueId</option>
                #end
            </select>
        </p>
        <p>
            <label for="queueMessage">Message</label>
            <textarea id="queueMessage" name="queueMessage" rows="10" cols="40">{
}</textarea>
        </p>
    </fieldset>
    <p>
        <button id="sendMessage">Send</button>
    </p>
    #parseTemplate("wrapping/content-block-close.vm")
</div>

<script type="text/javascript">
<!--
    $(function() {
        $("#hide-descriptions").click(function() {
            $("#hide-descriptions").hide();
            $("#show-descriptions").show();
            $(".queue-stats td.description").hide();
        });
        $("#show-descriptions").click(function() {
            $("#hide-descriptions").show();
            $("#show-descriptions").hide();
            $(".queue-stats td.description").show();
        });
        $("#sendMessage").click(function() {
            jQuery.post("$portalPath/queues.ajax",
            {   queueName: $("#queueName").val(),
                queueMessage: $("#queueMessage").val()
            });
        });
    });
-->
</script>
## activemq ajax disabled due to instability
#*
  #set($contentTitle = "Broadcast topic")
  #parse($page.getTemplate('wrapping/content-block-open.vm'))
  #set($contentTitle = $nullValue)
    <div class="box">
      <p>Aside from the above message queues there is a JMS Topic used for
       global system messages. Messages do not queue, and ajax calls on
       various screens will watch the topic for updates on progress. The
       box below shows a live feed of topic messages:</p>
      <ul class="global-topic" id="message-list"></ul>
      <img src="$portalPath/images/loading-progress.gif" />
    </div>
  #parse($page.getTemplate('wrapping/content-block-close.vm'))

  ## ActiveMQ ajax based messaging
  <script type="text/javascript" src="$portalPath/js/amq/amq_jquery_adapter.js"></script>
  <script type="text/javascript" src="$portalPath/js/amq/amq.js"></script>
  <script type="text/javascript">
  <!--
      var amq = org.activemq.Amq;
      var clientId = "queue_screen";
      var clientTopic = "topic://message";
      function waitRender(message) {
          var json = this.JSON.parse(message.nodeValue);
          $("#message-list").append("<li>" + json.message + "</li>");
      }
      amq.init({ uri: "${urlBase}amq/", timeout: 10 });
      amq.addListener(clientId, clientTopic, waitRender);
  -->
  </script>
*#
  #else
    <div class="block">
      <div class="login-error">
        There are no queues online! Please check the system logs for errors.
      </div>
    </div>
  #end
</div>
<div class="clear"></div>
#end
