#### The content of this file is irrelevant, its presence is
#### simply to avoid a 404 error when triggering a SSO login
<div class="grid_16">
  <div id="config-notices" class="box articles notice">
    <h2>Error</h2>
    <div class="warning">
      <b>ERROR</b>
      Sorry! The required data for this page could not be found. If the problem continues please contact the System Administrator.
    </div>
  </div>
</div>
