#set ($pageTitle = "ZIP Package")
#set ($metadata = $self.metadata)

<h2 id="page-heading"><span>$pageTitle</span></h2>

<div class="grid_4">
  #set($menuTitle = "Actions")
  #parse($page.getTemplate('wrapping/main-menu-open.vm'))
  #set($menuTitle = $nullValue)
  <ul class="menu">
    <li><a href="$portalPath/home">Home</a></li>
    <li><a href="$portalPath/detail/$self.id">Back to Details</a></li>
  </ul>
  #parse($page.getTemplate('wrapping/main-menu-close.vm'))
</div>

<div class="grid_12">
  <div class="box">
    <h2>ZIP: '$self.id'</h2>
#if ($page.authentication.is_logged_in())
    <div class="block">
        <form id="zippackage" method="post" action="$portalPath/actions/zippackage.ajax">
            <input type="hidden" name="oid" value="$self.id"/>
            <fieldset class="loginX">
                <legend>ZIP</legend>
                <p class="message">
                    <img class="hidden" id="zip-loading" src="$portalPath/images/icons/loading.gif" alt="Loading" />
                    <span id="zip-message"></span>
                </p>
                <input class="button" id="zip-download" type="button"
                    style="margin-left:2em;"
                    value="Download Package.zip" />
            </fieldset>
        </form>
        <div>
            ##Notes: go here and other info goes here!
        </div>
    </div>
  </div>
#else
    <p/>
    <div>
        Sorry, but you need to be logged in to use this page.
        Please <a class="login-now" href="#">login now</a>.
    </div>
#end
  </div>
</div>

<div class="clear">&#160;</div>
<!-- IE7 needs a blank div here, class="prefix_4" doesn't work -->
<div class="grid_4">&#160;</div>

#if ($page.authentication.is_logged_in())
  ##<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.ajaxQueue.js"></script>
  ##<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.bgiframe.min.js"></script>
  ##<script type="text/javascript" src="$portalPath/js/autocomplete/jquery.autocomplete.pack.js"></script>
  <script type="text/javascript">
  <!--
    var jQ=$;
    jQ(function() {
        ###########################
        ## ZIP Download
        ###########################
        jQ("#zip-download").click(function(){
            location.href = "$portalPath/actions/zippackage.ajax?oid=$self.id";
        });
    });
-->
</script>
#end
