<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:int="http://www.springframework.org/schema/integration"
    xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
    xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/mail
            http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
            http://www.springframework.org/schema/integration/jms
            http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd" >

	<!--  Mail Configuration -->
	
	<bean id="notify_mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="username" value="shilo@redboxresearchdata.com.au" />
		<property name="password" value="Oldtechspw!" />		
		<property name="javaMailProperties">
		<props>
			<prop key="mail.smtp.auth">true</prop>
			<prop key="mail.smtp.starttls.enable">true</prop>
		</props>
		</property>
	</bean>
	<int:channel id="notify_homeinst_email_outbound" >
		<int:interceptors>
			<int:wire-tap channel="notify_homeinst_loggingChannel" />
		</int:interceptors>
	</int:channel>
	<int:channel id="notify_homeinst_email" />
	<int:channel id="notify_homeinst_email_withAttachment" />
	<int-mail:outbound-channel-adapter channel="notify_homeinst_email_outbound" mail-sender="notify_mailSender" />	
	<int:gateway id="notify_mailService" service-interface="com.googlecode.fascinator.portal.process.EmailNotifierService" default-request-channel="notify_homeinst_email"  >
		<int:method name="email" request-channel="notify_homeinst_email" />
		<int:method name="emailAttachment" request-channel="notify_homeinst_email_withAttachment" />		
	</int:gateway>
	  
	<int:transformer input-channel="notify_homeinst_email" output-channel="notify_homeinst_email_outbound" ref="notify_mailTransformer" method="transform"/>
	<int:transformer input-channel="notify_homeinst_email_withAttachment" output-channel="notify_homeinst_email_outbound" ref="notify_mailTransformer" method="transformWithAttachment"/>		
    <bean id="notify_mailTransformer" class="com.googlecode.fascinator.portal.process.EmailNotifierTransformer"/>
    
    
    <!--  End of Mail configuration -->
	<!--  Message Queue configuration -->
	<int:logging-channel-adapter id="notify_homeinst_loggingChannel"
		expression="'Sending notification message...'" />	
	<!--  
		Start of broker / request queue specific configuration.
		
		Configure the block below for EACH unique broker-request queue pair.   	
	-->	
	<int:channel id="notify_homeinst_messageq_org2" >
		<int:interceptors>
			<int:wire-tap channel="notify_homeinst_loggingChannel" />
		</int:interceptors>
	</int:channel>
	<int:gateway service-interface="com.googlecode.fascinator.portal.process.MessageqNotifierService" id="notify_homeinst_messageq_org2_service" default-request-channel="notify_homeinst_messageq_org2" />								
	<int-jms:outbound-channel-adapter id="jmsOut" destination="notify_homeinst_requestQueue_org2" channel="notify_homeinst_messageq_org2" connection-factory="notify_homeinst_connectionFactory_org2" />					
	<bean id="notify_homeinst_connectionFactory_org2" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${broker.url.org2}" />
    </bean>
    <bean id="notify_homeinst_requestQueue_org2" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${request.queue.name.org2}"/>
	</bean>
	<!--  End of broker / request queue configuration -->
</beans>

