<script type="text/javascript" src="$portalPath/js/anotar/video.annotate.js"></script>
<script type="text/javascript">
<!--
    function setupVideoAnnotation(oid) {
        // Audio/Video Tags annotation
        var videoAnoLabel;
        var replyLabel;
        #if ($page.authentication.is_logged_in())
            videoAnoLabel = "<img class='anno-add' src='$portalPath/images/icons/comment_add.png' title='Add new comment' />&#160;Comment on this media:";
            replyLabel = "<img class='anno-add' src='$portalPath/images/icons/comments_add.png' title='Reply to this comment' />";
        #else
            videoAnoLabel = "Comment on this media:";
            replyLabel = "<span/>";
        #end
        videoConfig = {
            label: videoAnoLabel,
            pageUri: oid,
            docRoot: ".video-results-list",
            tagList: ".video-result-list",
            uriAttr: "anotar-uri",
            replyLabel: replyLabel,
            clientUri: "http://www.purl.org/anotar/client/0.2",
            #if("$!creator" != "")creator: "$creator",#end
            #if("$!creatorUri" != "")creatorUri: "$creatorUri",#end
            interfaceLabel: videoAnoLabel,
            interfaceVisible: true,
            formCustom: "media_clip_form",
            formCancel: ".myTag-cancel",
            formSubmit: ".myTag-submit",
            displayCustom: "media_clip_comment",
            hashType: "http://www.w3.org/TR/2009/WD-media-frags-20091217",
            hashFunction: function(node) {
                var rel = node.attr("rel");
                if (rel == null) { rel = "$oid"; }
                return rel;
            },
            onFormDisplay: function(node){
                $("#annotate_all").click();
                $("#txtStartMark").attr("value", "");
                $("#txtEndMark").attr("value", "");
                $("#media_clip").attr("rel", "");
                $(".video-results-list").attr("rel", "");
            },
            annoType: "comment",
            disableReply: false,
            loadAnnotations: function() { loadAnnotations(this, "$oid") },
            submitAnnotation: function(data, annotateDiv) { submitAnnotation(this, "$oid", data, annotateDiv);  }
        }

        $("#media_clip textArea").live("focus", function() {
            var replies = $("#media_clip").prev("blockquote.anno-inline-annotation-quote")
                                          .find(".anno-anno-children");
            if (replies.length > 0) {
                $(".annotate_scope").hide();
            } else {
                $(".annotate_scope").show();
            }
            return false;
        });

        if ((window.disableVideoAnotar === undefined) || !disableVideoAnotar) {
            anotarFactory(jQuery, videoConfig);
        }

    }
-->
</script>

<script type="text/html" id="media_clip_form">
  
  <div id="media_clip">
    #if ($page.authentication.is_logged_in())
    <table>
      <tr>
        <td colspan="2" class="annotate_scope">
          <input type="radio" name="annotate_scope" id="annotate_all" checked="true"
                 onclick="$('.annotate_clip').hide()" />
          <label for="annotate_all">Comment on the whole video</label><br/>
          <input type="radio" name="annotate_scope" id="annotate_clip"
                 onclick="$('.annotate_clip').show()" />
          <label for="annotate_clip">Select a portion (clip) to annotate</label>
          <span class="hidden annotate_clip">(<a onclick="toggleHelp($(this))">Show help</a>)</span>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">The tools below will help you select a specific
          section of video that you want to comment on. We call this section a
          "clip". This top row of buttons is similar to those on your home DVD
          player:</p>
          <ul class="help_p">
          <li>To go to the beginning of the video, click the "&lt;&lt; button</li>
          <li>To move the video forward by 1 second click on the "&lt;" button</li>
          <li>To play and pause the video click on the "Play/Pause" button</li>
          <li>To move the video back by 1 second click on the "&gt;" button</li>
          <li>To go to the end of the video, click the "&gt;&gt; button</li>
          </ul>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <input id="player_seek_start" type="button" value="&lt;&lt;" />
          <input id="player_rewind" type="button" value="&lt;" />
          <input id="player_play" type="button" value="Play/Pause" />
          <input id="player_forward" type="button" value="&gt;" />
          <input id="player_seek_end" type="button" value="&gt;&gt;" />
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">To create a clip, you need to set a beginning and
          end time. We use seconds to set the time.
          <br/>
          You can start the video playing and press the "Mark start time" and
          "Mark end time" buttons and the system will set the timing for you.
          <br/>
          Alternatively, you can enter the start and end times as seconds in
          the corresponding text boxes.
          </p>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td><input id="player_mark_start_time" type="button" value="Mark start time" value=""/></td>
        <td><input type="text" id="txtStartMark" value="" size="5"/></td>
      </tr>
      <tr class="annotate_clip">
        <td><input id="player_mark_end_time" type="button" value="Mark end time" value="" disabled="true"/></td>
        <td><input type="text" id="txtEndMark" value="" disabled="true" size="5"/></td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">Once you have set the start and end times for your
          clip you can preview the clip by pressing "Play clip".
          <br/>You can also scrap the clip by pressing "Clear clip".</p>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <input class="player_clear_fragment" type="button" value="Clear clip" />
          <input id="player_play_fragment" type="button" value="Play clip" />
        </td>
      </tr>
      <tr><td colspan="2">Comment:</td></tr>
      <tr><td colspan="2"><textArea cols="30"></textArea></td></tr>
      <tr><td colspan="2">
        <button class="myTag-cancel">Cancel</button>&#160;
        <button class="myTag-submit">Submit</button></td>
      </tr>
    </table>
    #else
      <span>Log in to post comment</span>
    #end
  </div>
  
</script>

<script type="text/html" id="media_clip_comment">
  <%
  var startTime = "";
  var endTime = "";
  if (locator != null) {
    var npt = locator.split("#t=npt:");
    if (npt.length > 1) {
        npt = npt[1].split(",");
        startTime = npt[0];
        if (startTime.length == 0) { startTime = "0s"; }
        endTime = npt[1];
        if (endTime.length == 0) { endTime = "0s"; }
    }
  }
  %>
  <div class="<%=style%>inline-annotation <%=toggle%>" anotar-uri="<%=id%>">
      <input name="rootUri" value="<%=root%>" type="hidden"/>
      <div class="<%=style%>orig-content" style="display:none;"><%=original%></div>
      #if($page.authentication.is_admin())
      <img class="anno-delete"
           onclick="deleteComment(this, 'anotar-uri')"
           src="$portalPath/images/icons/comments_delete.png"
          title="Delete this comment" />
      #end
      <div class="<%=style%>anno-info">
        Comment by: <span class="<%=style%>anno-creator"><%=creator%></span>
         &nbsp; <span class="<%=style%>anno-date timeago" title="<%=date%>"><%=date%></span>
      </div>
      <% if (startTime != "" && endTime != "") { %>
      <div class="<%=style%>anno-info">
        <input class="player_play_clip" type="button" value="Play" />
        Clip duration: <span class="startTime"><%=startTime%></span> to
        <span class="endTime"><%=endTime%></span>
      </div>
      <% } %>
      <div>
        <span class="<%=style%>anno-content"><%=content%></span>
      </div>
      <div class="<%=style%>anno-children"><%=children%></div>
  </div>
</script>
