<script type="text/javascript" src="$portalPath/js/anotar/image.annotate.js"></script>
<script type="text/javascript">
<!--
    function setupImageTagging(selector, rootUri) {
        var hash = location.hash.substring(1);
        if (hash != "blank") {
            var baseUrl = "$portalPath/actions/anotar.ajax?rootUri=" + rootUri + "&action=";
            $(selector).annotateImage({
                editable: true,
                saveUrl: baseUrl + "save-image&creator=$!creator&creatorUri=$!creatorUri",
                getUrl: baseUrl + "get-image",
                deleteUrl: baseUrl + "delete-image",
                deletable: $page.authentication.is_admin().toString().toLowerCase()
            });
        }
    }
    $(window).load(function() {
        setupImageTagging("#image-content", "$oid");
    });
-->
</script>
