<script type="text/javascript">
<!--
    function setupTagging(docRoot, pageUri) {
        var tagConfig = {
            docRoot: docRoot,
            pageUri: pageUri,
            #if("$!creator" != "")creator: "$creator",#end
            #if("$!creatorUri" != "")creatorUri: "$creatorUri",#end
            tagList: ".object-tag-list:not([anotar-hash])",
            clientUri: "http://www.purl.org/anotar/client/0.2",
            contentInput: "#object-tag-input",
            uriAttr: "rel",
            outputInChild: ".object-tags",
            annotationType: "tag",
            stylePrefix: "tags-",
            #if ($page.authentication.is_logged_in())
                interfaceLabel: " <img src='$portalPath/images/icons/add.png' title='Add tag' alt='Add' />",
            #else
                interfaceLabel: "<span/>",
            #end
            displayCustom: "object_tag_display",
            formPrepend: true,
            interfaceVisible: true,
            formCustom: "object_tag_form",
            formCancel: ".myTag-cancel",
            formSubmit: ".myTag-submit",
            disableReply: true,
            loadAnnotations: function() { loadAnnotations(this, pageUri) },
            submitAnnotation: function(data, annotateDiv) { submitAnnotation(this, pageUri, data, annotateDiv) }
        };
        anotarFactory(jQuery, tagConfig);
    }
-->
</script>
<script type="text/html" id="object_tag_form">
    <div class='myTags float-right'>Tag this:
      <input id="object-tag-input" type="text" />
      <img src='$portalPath/images/icons/tick.png' class='myTag-submit'  alt='Submit' />&#160;
      <img src='$portalPath/images/icons/cross.png' class='myTag-cancel'  alt='Cancel' />
    </div>
</script>
<script type="text/html" id="object_tag_display">
<span class="<%=style%>tag" id="<%=id%>">
    <%=content%><% if(tagCount > 1){ %> (<%=tagCount%>)<% } %>
    #if($page.authentication.is_admin())
    <img class="anno-delete-tag"
         onclick="deleteTag(this)"
         src="$portalPath/images/icons/delete.png"
         title="Delete this tag" alt="Delete" />
    #end
</span>
</script>
