<div class="grid_6">
  #set($menuTitle = "Latest additions")
  #parse($page.getTemplate('wrapping/menu-open.vm'))
  #set($menuTitle = $nullValue)
  <div class="block">
    #if($self.latest.isEmpty())
      &nbsp;
    #else
      <ol>
      #foreach($item in $self.latest)
        #set($itemId = $item.getFirst('id'))
        #set($itemTitle = $item.getFirst('dc_title'))
        #set($owner = $item.getFirst('owner'))
        #set($wfStep = $item.getFirst('workflow_step'))
        #if ("$!owner" != "" && $owner == $page.authentication.get_username())
            #set ($class = " class='owner'")
        #else
            #set ($class = "")
        #end
        <li$class>
          <a href="$portalPath/detail/$itemId">$itemTitle</a>
          #if ("$!wfStep" != "" && $wfStep != "" && $wfStep != "live")
          <img class="workflow" src="$portalPath/images/icons/wf_${wfStep}.png" alt="Workflow: $wfStep" title="Workflow: $wfStep"/>
          #end
        </li>
      #end
      </ol>
    #end
  </div>
  #parse($page.getTemplate('wrapping/info-box-close.vm'))
</div>
