#set($facetCounts = $self.getFacetCounts($facetFieldKey))
#if($facetCounts.size() > 0)
    #set($menuTitle = $facetField.getString($nullValue, "label"))
    #parseTemplate("wrapping/menu-open.vm")
    <div class="facet-list" id="$facetFieldKey">
        <ul class="menu">
        #foreach($facetCountKey in $facetCounts.keySet())
            #set($facetCount = $facetCounts.get($facetCountKey))
            #set($facetQuery = $self.getFacetQuery($facetFieldKey, $facetCountKey))
            #set($selected = $self.isSelected($facetQuery))
            <li#if($selected) class="selected"#end>
                #if($self.isPortalQueryFacet($facetQuery))
                    <a class="portal-facet">$facetCountKey&nbsp;<span class="facet-count">($facetCount)</span></a>
                #else
                    #if($selected)
                        #set($facetClass = "remove-facet selected")
                    #else
                        #set($facetClass = "add-facet")
                    #end
                    #set($facetLabel = "$page.escapeHtml($facetCountKey)")
                    <a class="facet $facetClass" href="#" rel='$facetFieldKey:"$facetCountKey"' title="$facetLabel ($facetCount)">
                        $facetLabel&nbsp;<span class="facet-count">($facetCount)</span>
                    </a>
                #end
            </li>
            #if(($velocityCount == $self.facetDisplay) && ($self.facetDisplay != $facetCounts.size()))
                <li class="more" rel="$facetFieldKey">
                    <ul class="more hidden">
            #end
            #set($last = $velocityCount)
        #end
        #if($last > $self.facetDisplay)
                </ul>
            </li>
            <li rel="$facetFieldKey"><a class="more" href="#">more...</a></li>
        #end
        </ul>
    </div>
    #parseTemplate("wrapping/menu-close.vm")
#end
