<div class="facet-list-container hidden">
  #set($menuTitle = $facetField.getString($nullValue, "label"))
  #parse($page.getTemplate('wrapping/menu-open.vm'))
  #set($menuTitle = $nullValue)
    <div id="$facetFieldKey" class="menu facet-list clearfix"></div>
  #parse($page.getTemplate('wrapping/menu-close.vm'))
  <script type="text/javascript">
  <!--
      $(function() { createTree("#$facetFieldKey", "$facetFieldKey"); });
  -->
  </script>
</div>
