<script type="text/javascript">
<!--
    function userData() {
        $("#user-data").dialog('open');
    }
    $(function() {
        var dialogOpts = {
            title: "User Data",
            autoOpen: false,
            hide: "blind",
            modal: true,
            width: "450px"
        }
        $(".user-data").click(function() {
            $("#user-data").dialog(dialogOpts);
            userData();
            return false;
        });
        $("#user-data-form input").click(function() {
            $(this).focus();
            $(this).select();
        });
    });
-->
</script>

<div class="box hidden" id="user-data">
  <form id="user-data-form" method="post" action="#">
    <fieldset class="search">
      <legend>User Data</legend>
      <p>
        <label for="udUsername">User ID</label>
        <input type="text" id="udUsername" readonly="readonly" value="$page.authentication.get_username()" />
      </p>
      <p>
        <label for="name">Name</label>
        <input type="text" id="name" readonly="readonly" value="$page.authentication.get_name()" />
      </p>
      <p>
        <label for="origin">Origin</label>
        <input type="text" id="origin" readonly="readonly" value="$page.authentication.get_user_source()" />
      </p>
      <p>
        <label>Roles</label>
      </p>
        #set ($roles_list = $page.authentication.get_roles_list())
        <ul>
          #foreach($role in $roles_list)
          <li>$role</li>
          #end
        </ul>
        #parseTemplate("dialogs/user-data-message.vm")
      
    </fieldset>
  </form>
</div>
