## Placeholder for overriding in skins. The message provided here will go at the
##  bottom of the User Data dialog. Useful in a public system if you want to
##  provided a message for a contact point.