/* basic elements */
body {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.8em;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h1 {
    color: #E17009;
    font-family: Times New Roman, Times, serif;
    font-variant: small-caps;
}

h1 a {
    color: #E17009;
    text-decoration: none;
}

h2 {
    color: #217BC0;
}

h3,h4,h5,h6,legend {
    color: #1D599B;
}

.dotted-line {
    border-bottom: 1px dotted #959CA1;
}

/* debugging */
#debug-link {
    float: left;
}

#debug {
    margin-top: 0.25em;
}

#debug div {
    margin-bottom: 0.25em;
}

pre.debug {
    border: 1px dotted #1D599B;
}

/* messages and icons */
.icon {
    float: left;
    margin-right: 0.5em;
}

.active-link {
    color: #E17009;
    font-weight: bold;
}

/* menu bar */
#menu-bar {
    border-bottom: 1px dotted #959ca1;
    border-top: 1px dotted #959ca1;
    height: 2.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#menu-bar div.title h1 {
    float: left;
    margin: 0;
    padding: 0;
}

#menu-bar ul {
    display: inline;
    float: right;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0.65em;
}

#menu-bar li {
    display: inline;
}

#menu-bar li a {
    color: #1D599B;
    text-decoration: none;
}

#menu-bar li a:hover {
    background: #D0E5F5;
}

#header .portal-name {
    color: #E17009;
    float: right;
    font-size: 1.1em;
}

.with-separator {
    border-right: 1px dotted #1D599B;
    padding-left: 0.25em;
    padding-right: 0.5em;
}

/* login dialog */
#login-dialog label {
    float: left;
    padding-top: 0.5em;
}

#login-dialog input {
    float: right;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

/* home portal list */
ul.home-portal-list {
    border-left: 1px dotted #959ca1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 1.5em;
}

ul.home-portal-list li {
    font-size: 1.1em;
    padding-bottom: 0.25em;
}

ul.home-portal-list li a, ul.home-portal-list li a:visited {
    color: #1D599B;
    text-decoration: none;
}

ul.home-portal-list li a.delete-action, ul.home-portal-list li a.delete-action:visited {
    color: red;
    font-size: 0.75em;
    margin-left: 0.75em;
    text-decoration: none;
}

div.home-portal-list .ui-state-highlight {
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 23em;
}

/* facets */
#facet-list {
    border-right: 1px solid #DDDDDD;
    float: left;
    margin-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 23em;
}

.facet-count-list ul, .payload-list ul {
    color: silver;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
    text-decoration: none;
}

#result-list {
    left: 25em;
    position: absolute;
    width: 72.5%;
}

#result-item-list {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
}

.facet-count-list ul a,#result-item-list a {
    color: #1D599B;
    text-decoration: none;
}

#result-item-list li {
    margin: 0;
    padding: 0;
}

#result-item-list .ui-selecting { background: #FECA40; }
#result-item-list .ui-selected { background: #F39814; color: white; }

a.facet-action {
    color: #1D599B;
    font-size: 0.75em;
    text-decoration: none;
}

span.selected-facet {
    color: #E17009;
}

span.portal-query-facet {
    color: #E17009;
    font-style: italic;
}

/* content page */
#content-toolbar {
    margin-bottom: 0.5em;
}

#content-toolbar ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content-toolbar li {
    display: inline-block;
    padding: 0.25em;
}

#add-content-dialog label {
    float: left;
    padding-top: 0.5em;
}

#add-content-dialog input {
    float: right;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

/* paging */
.paging {
    float: right;
    margin-left: 0;
    padding-left: 0;
}

.paging li {
    display: inline;
}

.paging li a {
    border: solid #E4C8B5 0px;
    color: black;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-decoration: none;
}

.paging .selected-page a,.paging a:hover {
    background: #FFF;
    border: solid #C3562E 1px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

/* jquery ui overrides */
.ui-tabs .ui-accordion {
    font-size: 1em;
}

.ui-accordion,.ui-dialog,.ui-tabs {
    font-size: 0.95em;
}

/* jsTree overrides */
.tree {
    margin-left: -0.5em;
    padding-left: 0em;
}

div.content-preview {
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 1em 1.75em;
    padding: .25em;
    overflow: auto;
}

/* forms */
form fieldset {
  margin-bottom: 10px;
}
form legend {
  padding: 0 2px;
  font-weight: bold;
  font-size: 1.2em;
}
form label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form fieldset ol {
  margin: 0;
  padding: 0;
}
form fieldset li {
  list-style: none;
  padding: 1px;
  margin: 0;
}
form fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form fieldset fieldset label {
  display: block;
  width: auto;
}
form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form label {
  width: 120px; /* Width of labels */
}
form fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

.iframe-preview {
    border: 1px dotted gray;
    height: 480px;
    width: 100%;
}

