#set($oid = $formData.get("oid"))
<button id="$button-name" value="$action" >$label</button>
<script type="text/javascript">
$('#$button-name').click(function () { action= $(this).val();
								   	    jaffa.form.save();});
</script>								   	    