.hidden {
    display: none;
}

.inline, .visible {
    display: inline;
}

h1#branding {
    padding: 0.3em;
}

.container_12, .container_16 {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.box h2 {
    font-weight: bold;
}

form.search {
    padding-top: 3px;
    padding-right: 5px;
}

div.page-heading {
    padding: 10px 0 10px 10px;
}
.page-heading h2#page-heading {
    padding: 0.2em;
}

.sorting {
    padding-right: 8px;
}

.paging {
    margin-left: 0;
    padding-left: 0;
}

.paging li {
    display: inline;
    margin-left: 0;
}

.paging li a {
    color: black;
    padding: 0.2em;
    text-decoration: none;
}

.paging ul {
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.paging a:hover, .paging .selected-page {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0.2em;
}

.facet-list {
    overflow-x: auto;
    overflow-y: hidden;
}

.facet-list ul.menu {
    margin-bottom: 0;
}

.facet-list a, ul.menu a {
    font-weight: normal;
    word-wrap: break-word;
}

.menu .selected, .facet-list .selected {
    background: black;
    color: white;
    font-weight: bold;
}

.menu .selected:hover, .facet-list .selected:hover {
    color: black;
}

.menu ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

.facet-list .portal-facet, .facet-list .portal-facet:hover {
    background: gray;
    color: white;
    font-weight: bold;
}

.facet {
    overflow: hidden;
}

ul.menu li a.more {
    font-style: italic;
}

ul.menu li ul.more li a {
    padding-left: 10px;
}

.right {
    float: right;
}

form .message {
    margin-left: 35%;
}

.tag-form, .tag-form input {
    margin: 0;
    padding: 0;
}

.article a.image {
    margin-bottom: 5px;
}

.article a img {
    vertical-align: text-bottom;
}

div.image {
    background: #fff;
    border: 1px solid #bbb;
    float: left;
    margin: 3px 10px 3px 0;
    padding: 4px;
}
div.image:hover {
    border: 1px solid #666;
}
div.image img {
    float: left;
}

div.tags {
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
    margin-bottom: 3px;
    padding: 0.3em 0;
}

div.tags img {
    vertical-align: text-bottom;
}

div.tags ul li {
    display: inline;
    list-style: none;
    margin: 2px;
    padding-right: 5px;
}

.new-tag {
    color: green;
}

ul.main li.secondary a.search {
    padding-left: 0.2em;
    padding-right: 0.4em;
}

a.search img {
    padding: 0;
    vertical-align: text-bottom;
}

table.meta {
    table-layout: fixed;
    margin-top: 10px;
}

table.meta td {
    overflow: hidden;
}

dl.meta dt {
    font-weight: bold;
}

dl.meta dd {
    margin-left: 0.7em;
    overflow: hidden;
    word-wrap: break-word;
}

ul.menu li.payload a {
    overflow: hidden;
    word-wrap: break-word;
}

div.content-preview .article {
    padding-bottom: 13px;
}

div.content-preview img {
    max-width: 100%;
}

form img {
    vertical-align: text-bottom;
}

#facets-form th {
    padding-left: 3px;
    text-align: left;
}

#facets-form td {
    padding-left: 3px;
}

#facets-form img.facet-grip {
    padding-right: 3px;
}

ul.nav li.label {
    background: #666666 !important;
    color: #FFFFFF;
    cursor: auto;
    display: block;
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1em;
}

#result-list ul.nav {
    margin: 0px -10px;
    max-width: none !important;
}

#result-list ul.nav li {
    background-color: #666666;
}

#result-list ul.nav ul.packaging li a {
    background-position: 5px 50%;
    width: 15em;
}

#result-list ul.nav ul.packaging li a {
    background-position: 8px 50% !important;
}

a.inactive {
    cursor: default;
}

.inline input {
    width:60%;
}

#toc li a {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
}

#toc li a.clicked {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}

#toc li a.item-hidden {
    color: gray;
    font-style: italic;
}

#toc .mime-type {
    padding-left: 2px;
    padding-right: 2px;
}

#toc ins {
    display: none;
}

label.checkbox {
    padding-top: 10px;
}

input.checkbox {
    float: left;
    margin-top: 0;
    margin-right: 8px;
    width: auto;
}

.tree ul {
    overflow: auto;
    text-wrap: normal;
    word-wrap: break-word;
}

#content h1 {
    font-size: 1.7em;
}

#content h2 {
    border-bottom: 1px solid silver;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#content h2 a, #content h2 a:hover {
    background: none;
}

.page-toc {
    list-style: none;
}

.page-toc li a {
    font-size: 1.2em;
    font-weight: normal;
}

span.view-type {
    font-size: 0.6em;
}

span.view-type a {
    font-weight: normal;
}

span.view-type a.selected {
    font-size: 1.2em;
    font-weight: bold;
}

/* Annotating */
.inline-annotation {
    padding:.1em;
    margin-bottom:1em;
    margin-left:0.5em;
    background:#ddddff; /* #ffcccc; */
    color:#000080;
    border:1px solid gray;
}

.anno-content {
    color:#006600;
}

.delete-annotate .annotate-this .close-annotate .pilcrow {
    cursor:pointer
}

.annotate-form{
    border:1px solid gray;
    background-color: transparent;
}

.annotating-label{
    color:blue;
}

.inline-annotation-form{}
.orig-content {}
.anno-children{}

.login-error {
    color: #CC0000;
}
.ui-widget-header {
    border: 1px solid #666666;
    background: #666666;
}

#package-content ul {
    margin-bottom: 0;
}

div.article-heading, #package-content div.title {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 4px;
}

ul.packaging li a {
    padding-left: 30px;
}

.package-description {
    font-size: 1.2em;
    padding-left: 5px;
    padding-bottom: 5px;
}

fieldset.login p select {
    width: 60%;
}

ul.nobgtabs {
    background: none;
}
ul.nobgtabs li {
    background: transparent !important;
    margin-right: 5px;
}
ul.nobgtabs li a.ui-state-default {
    background-color: #CCCCCC;
}
ul.nobgtabs li a.ui-state-active {
    border-color: #666666;
}
.tab-section {
    border: 1px solid #666666;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 10px;
}
.alert {
    color: #CC0000;
}
.stop-error {
    background-image: url('../images/icons/delete.png');
    background-position: 0 0.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 20px;
}
.users-admin {
    width: 400px;
    border: 0px;
}
.users-admin td {
    width: 200px;
    border: 0px;
    background: transparent;
}
.users-admin select {
    width: 190px;
}
.users-admin .button {
    width: 150px;
    margin-bottom: 3px;
}
#form-section .message {
    padding: 10px 5px 5px;
    font-size: 120%;
}
.admin-link-holder {
    padding: 2px 2px 2px 5px;
    border: 1px solid #666666;
    background: #999999;
    margin-bottom: 10px;
}
.admin-security-link {
    background-image: url('../images/icons/application_key.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 20px;
}
.admin-delete-link {
    background-image: url('../images/icons/cross.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 20px;
}
.security-table {
    border: 1px solid #333333;
    margin-bottom: 10px;
}
.security-table .add-role-button {
    background-image: url('../images/icons/add.png');
    background-position: 0 0.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 20px;
}
.admin-link-holder .admin-roles {
    border: 1px solid #666666;
    padding: 2px;
    background-color: #CCCCCC;
}
.admin-link-holder .locked {
    background-image: url('../images/icons/lock.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0 20px;
}
.center {
    text-align: center;
}
.upload-progress-holder {
    margin-top: 10px;
    padding: 0px;
    border: 1px solid black;
    background: #999999 url(ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat scroll 50% 50%;
    height: 20px;
    width: 90%;
}
#upload-progress-filler {
    background: #33FF33 url('../images/icons/green_sliver.png') repeat scroll 50% 50%;
    margin: 0px;
    height: 20px;
    border-right: 1px solid black;
}
#upload-progress-number {
    font-weight: bold;
    font-size: 125%;
    float: right;
}

#player-container {
    margin-bottom: 4px;
    margin-top: 4px;
}

.player_reset {
    float: right;
}

.help_p {
    font-size: smaller;
    font-style: italic;
    display: none;
}

#notifications {
    background-color: #FFDDDD;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 140%;
}

#notifications h2 {
    display: block;
    background-color: #CC3300;
    background-image: url('../images/icons/server_error.png');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#notifications .content {
    padding: 10px;
}

#notifications .blocking, #notifications .normal, #notifications .lowHeader {
    border: 1px solid #999999;
    margin-bottom: 7px;
    padding: 3px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#notifications .blocking {
    background-image: url('../images/icons/exclamation.png');
    background-color: blanchedalmond;
}

#notifications .normal {
    background-image: url('../images/icons/information.png');
    background-color: cornsilk;
}

#notifications .confirm, #notifications .lowManage {
    border: 1px solid #666666;
    float: right;
    background-color: white;
    background-image: url('../images/icons/cross.png');
    background-position: 2px 3px;
    background-repeat: no-repeat;
    padding: 1px 5px 0px 20px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#notifications .administrator {
    border: 1px solid #CCCCCC;
    margin: 5px;
    padding: 5px;
}

#notifications .lowHeader {
    border: 0px;
    padding-left: 3px;
}

#notifications .lowHeader a {
    font-weight: normal;
    font-size: 80%;
    color: blue;
}

.owner {
    background-image: url('../images/icons/user.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

li img.workflow, .mime-icon {
    vertical-align: middle;
}

.article a img.workflow {
    vertical-align: baseline;
}

.package-select {
    vertical-align: top;
}

.menu .article {
    padding: 5px 10px 5px 10px;
}

#result-list .results-total {
    color: white;
    padding: 5px 10px;
}

#package-toc a {
    font-weight: normal;
}

#package-toc a.clicked {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
}
#package-create-selected {
    background-image: url('../images/icons/package_go.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-create-new {
    background-image: url('../images/icons/package_add.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-select-page {
    background-image: url('../images/icons/select_all.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-deselect-page {
    background-image: url('../images/icons/remove_all.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-clear-all {
    background-image: url('../images/icons/package_delete.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#deselect-package {
    background-image: url('../images/icons/cancel.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-selected-items {
    font-size: 1.2em;
}
.content-preview iframe, .package-content iframe {
    width: 99%;
    height: 600px;
    border: 1px solid black;
}
.package-content iframe.video {
    border: 0px;
}
.iframe-link-alt {
    background-image: url('../images/icons/application_go.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.box h2 a {
    background-image: url("../images/icons/switch_plus.gif");
}
.box h2 a.open {
    background-image: url("../images/icons/switch_minus.gif");
}
.queue-stats td, .queue-stats th {
    text-align: center;
    border: 1px solid #999999;
}
.queue-stats tr td:first-child,
.queue-stats tr th:first-child {
    text-align: left;
    font-size: 120%;
}
.queue-stats tr.group th {
    background-color: #CCCCCC;
}
.queue-stats td {
    width: 12em;
}
.queue-stats td.description {
    font-size: 1em !important;
    padding-left: 3em;
    display: none;
    width: auto;
}
ul.global-topic {
    font-family: monospace;
    border: 1px dashed #999999;
    padding: 5px;
}
#login-form .or {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.ssoLogin {
    text-align: center;
}
.ssoLogin hr {
    margin-bottom: 5px;
}
.ssoLogin img {
    vertical-align: middle;
}
.ssoLogin input.custom {
    width: 175px;
}

.blank-toc {
    font-size: 1.2em;
}

.blank-toc a {
    font-weight: normal;
}

.results-footer div.paging {
    margin-right: 10px;
}
.rendition-links {
    float: right;
    margin: 5px;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding-bottom: 2px;
}
.rendition-links span.heading {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: bold;
}
.rendition-links span {
    display: block;
    padding: 1px 5px;
}
.rendition-links span.pdf-rendition-link {
    background-image: url('../images/icons/mimetype/application/pdf/icon.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding-left: 25px;
}

.notice h2 {
    background-color: orange;
}

.notice .warning, .notice .info {
    padding: 5px;
}

.notice .warning b, .notice .info b {
    display: block;
}

p.item-description, div.sample-content {
    margin-bottom: 0.75em;
}

div.sample-content {
    background-color: #EEEEEE;
    padding: 3px 5px;
    border: 1px solid #CCCCCC;
}

div.user-agreement {
    font-size: 125%;
    padding: 10px;
}
div.user-agreement form {
    margin: 10px 10px 5px;
}
div.user-agreement pre {
    font-size: 125%;
    padding: 10px;
    border: 1px solid #999999;
    background-color: #eeeeee;
}
blockquote.plain-text, div.user-agreement blockquote {
    quotes: "\201C" "\201D";
    border: 0px;
    font-style: italic;
}
blockquote.plain-text:before {
    content: open-quote;
    font-weight: bold;
}
blockquote.plain-text:after {
    content: close-quote;
    font-weight: bold;
}

ul.main li ul li.selected-view a {
    background-color: #444;
    cursor: pointer;
    font-weight: bolder;
}
legend span.legend {
    display: block;
    white-space: normal;
    width: 90%;
}
#workflowSecurity {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 7px;
    margin: 3px 3px 10px;
}
#workflowSecurity #wfOverride {
    width: 20px;
}
#workflowSecurity p {
    margin-bottom: 5px;
}
#workflowWarn {
    font-weight: strong;
}
.ffmpegIndex {
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    padding: 5px 10px;
}
.ffmpegIndex p {
    font-size: 125%;
    margin-bottom: 2px;
}
.pluginAbout {
    border: 1px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.pluginAbout h3 {
    font-size: 200%;
}
.ac_results {
    border: 1px solid black;
    background-color: #FFFFFF;
    padding: 2px 5px;
}
.ac_results ul {
    margin: 0px;
}
.ac_results li {
    list-style-type: none;
    margin: 0px 0px 2px 0px;
    cursor: pointer;
}

/* FIX TF2 Styles bleeding into ICE documents */
.content-preview .body a, .block .body a {
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
}
.content-preview .body h2 a, .content-preview .body h2,
.block .body h2 a, .block .body h2 {
    background: transparent;
}
.content-preview .body h2, .block .body h2 {
    color: #000000;
    font-size: 23px;
    text-transform: none;
}
.content-preview .body .footnote-defined a,
.block .body .footnote-defined a {
    margin-right: 1em;
}
/* HACK to fix funky ICE footnoes, hide the inline section */
.content-preview .body .footnote span,
.block .body .footnote span {
    display: none;
}

/* Blogging Styles */
#tf-toc {
    background-color: #FFFFDD;
    border: 1px outset #DDDDCC;
    float: right;
    width: 200px;
    margin: 10px;
}
.tf-preamble {
    margin-bottom: 1em;
}
.tf-content-holder {
}
.tf-content-holder .tf-content-block {
    border: 2px outset #AAAA99;
    padding: 1em;
    background-color: #F9F9F9;
}
.tf-content-block .content-heading {
    border-bottom: 2px solid #CC0000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.tf-content-block .content-heading span {
    font-size: 40%;
    font-weight: normal;
}
.tf-content-separator {
    margin: 1em 0;
}
.tf-content-block .center {
    text-align: center;
}
/* Specific to display preview on blog page INSIDE TF2 */
.box .tf-content-block h2.content-heading a {
    background: transparent;
    font-size: 40%;
    display: inline;
}
/* Blogging page */
#blog-message .error {
    background-image: url('../images/icons/delete.png');
    background-position: 0 0.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 20px;
}
