##
## Velocity macros for The Fascinator
##

##
## Parse a template
## $template : The template to parse
##
#macro(parseTemplate $template)
    #set($templatePath = $Services.velocityService.resourceExists($portalId, $template))
    #parse($templatePath)
#end

#macro(parseDisplayTemplate $template)
    #set($templatePath = $Services.velocityService.resourceExists($portalId, "display/$displayType/$template"))
    #parse($templatePath)
#end

##
## Render an object display
## $template : The template to render
## $metadata : Object metadata in Solr JSON format
##
#macro(renderObject $metadata $template)
    $Services.pageService.renderObject($velocityContext, $template, $metadata)
#end


##
## Display a string based on the message code
##
## $message : the message code
##
#macro(displayMessage $message)
	 ## All on one line to avoid line breaks
     #set($languageService = $Services.getService("languageService")) #if($languageService)	#set($message = $languageService.displayMessage($message)) #end  $message #end
