#set($contentId = $oid)
#set($contentTitle = "Preview")
#parseTemplate("wrapping/content-block-open.vm")
<div class="article first" id="content">
    <div class="article-heading">$title</div>
    #parseDisplayTemplate("detail/preview/content-header.vm")
