#if($box-for)<span #if( $multiline )style="display:block;" #end>#displayMessage($box-for)</span>#end

#if ($boxes.size() > 1)
    #set($checkbox_id = 1)
    #foreach( $box in $boxes )
        <label #if( $multiline )style="display:block;" #end
         #if ($additional-class) class="$additional-class" #end>
          <input  type="checkbox"  class="jaffa-field" name="$field-name" id="${field-name}.${checkbox_id}"
          #if( $box.checked ) checked="checked" #end 
         value= #if( $box.value ) "#displayMessage($box.label)" #else "#displayMessage($box.label)" #end >#displayMessage($box.label)</label>
        #set($checkbox_id = $checkbox_id + 1)
    #end
#else
	#set($box=$boxes.get(0))
    <label 
     #if ($additional-class) class="$additional-class" #else style="display:block;" #end>
      <input  type="checkbox"  class="jaffa-field" name="$field-name" id="${field-name}"
      #if( $box.checked ) checked="checked" #end 
     value= #if( $box.value ) "$box.value" #else "$box.label" #end >#displayMessage($box.label)</label>
#end
