<label><input name="$field-name" id="${field-name}" class="jaffa-field" type="checkbox" value= #if( $box-value ) "$box-value" #else "$box-label" #end >#displayMessage($box-label)</label>
#set($oid = $formData.get("oid"))
<button id="$button-name" value="$action" >$label</button>
<script type="text/javascript">
$('#$button-name').click(function () { action= $(this).val();
#if($closeUrl) closeUrl="$portalPath/$closeUrl"; #end
										 if(validateSubmit()) {
								   	    jaffa.form.save(true);
								   	    }});
								   	    
$(document).ready(function() {
	function toggleSubmitButton() {
		if($("[id='$field-name']").is(':checked')) {
			$("[id='$button-name']").show();
		} else {
			$("[id='$button-name']").hide();
		}
	}
	toggleSubmitButton();
	$("[id='$field-name']").change(function() {
		toggleSubmitButton();	
	});		
});
</script>
