<div id="data-source-dropdown-$field-name"><p>You should see something replace this div</p></div>
#if ($help)
		<div id="${field-name}-help" class="help-content">#displayMessage($help)</div>
#end

<script>
var widgetListBranding = {
    "":"control-group",
    ".jaffaValidationError":["alert", "alert-error"]
};
$(document).ready(function() {
    $("[id='data-source-dropdown-$field-name']").jaffaDropDown({
        "label":"#displayMessage($label)",
        "field":"$field-name",
        #if("$field-name-label"!="")
        "label-field":"$!field-name-label",
        #else
        "label-field":"#displayMessage($label)",
        #end
        "json-data-url":"$portalPath/$sourceUrl",
        #if("$!dataLevel"!="")"data-top-level-id":"$!dataLevel",#end
        #if("$!idKey"!="")"data-id-key":"$!idKey",#end
        #if("$!labelKey"!="")"data-label-key":"$!labelKey",#end
        #if("$!listKey"!="")"data-list-key":"$!listKey",#end
        #if("$!childrenKey"!="")"data-children-key":"$!childrenKey",#end
        #if("$!defaultValue"!="")"default-value":"$!defaultValue",#end
        #if ($help)
			"help-content": "[id='${field-name}-help']",
		#end        
        "mandatory":"$mandatory",
        "class-list":widgetListBranding
        
    });
});
</script>