<div id="data-source-dropdown-$field-name"><p>You should see something replace this div</p></div>
<div id="data-source-dropdown-help-$field-name"></div>

<script>
var widgetListBranding = {
    "":"control-group",
    ".jaffaValidationError":["alert", "alert-error"]
};
$(document).ready(function() {
    $("[id='data-source-dropdown-$field-name']").jaffaDropDown({
        "label":"$label",
        "field":"$field-name",
        #if("$field-name-label"!="")
        "label-field":"$!field-name-label",
        #else
        "label-field":"$label",
        #end
        "json-data-url":"$portalPath/$sourceUrl",
        #if("$!dataLevel"!="")"data-top-level-id":"$!dataLevel",#end
        #if("$!idKey"!="")"data-id-key":"$!idKey",#end
        #if("$!labelKey"!="")"data-label-key":"$!labelKey",#end
        #if("$!listKey"!="")"data-list-key":"$!listKey",#end
        #if("$!childrenKey"!="")"data-children-key":"$!childrenKey",#end
        #if("$!defaultValue"!="")"default-value":"$!defaultValue",#end        
        "help-content":"[id='data-source-dropdown-help-$fieldName']",
        "mandatory":"$mandatory",
        "class-list":widgetListBranding
    });
});
</script>