<div id="$element-id" #if($additional-class)class="$additional-class"#end>

$fieldElementsHtml
<button class="addButton">Add</button>
<button class="updateButton">Update</button>
<button class="cancelButton">Cancel</button>

</div>

<script>
function $modelName.substring(0,1).toUpperCase()$modelName.substring(1)() {
    var self = this;
    
 
}
function $addFunction() {
	$("[id='$element-id']").dialog('open');
	${modelName}.modelIdentifier = guid();
	$("[id='$element-id']").find('.addButton').show();
	$("[id='$element-id']").find('.updateButton').hide();
}

function $editFunction(model) {
	#foreach ($field in $fields)
		$modelName.$field.get("table-json-propertyName")(model['$field.get("table-json-propertyName")']);
	#end
		${modelName}.modelIdentifier = model.modelIdentifier;
	$("[id='$element-id']").dialog('open');
	$("[id='$element-id']").find('.addButton').hide();
	$("[id='$element-id']").find('.updateButton').show();
}



var $modelName;
$(document).ready(
function() {



function clear$modelName.substring(0,1).toUpperCase()$modelName.substring(1)(model) {
	#foreach ($field in $fields)
		var field = [];
		if( field instanceof Array) {
			$modelName.$field.get("table-json-propertyName")([]);
		} else {
	      $modelName.$field.get("table-json-propertyName")(null);
		}
	#end
	${modelName}.modelIdentifier = "";
}

$("[id='$element-id']").dialog({
            title: "",
            autoOpen: false,
            hide: "blind",
            modal: true,
            width: "auto",
            height: "auto"
        });
        
$modelName =  new $modelName.substring(0,1).toUpperCase()$modelName.substring(1)();
#foreach ($field in $fields)
jaffa.form.ignoreField('$field.get("field-name")');
#if($field.get("component-type") == "checkbox" || $field.get("component-type") == "radio-button" )
	$modelName['$field.get("table-json-propertyName")']= ko.observableArray();
#else
$modelName['$field.get("table-json-propertyName")']= ko.observable();
#end
#end

#foreach ($field in $fields)
 #if($field.get("component-type") == "checkbox" ||  $field.get("component-type") == "radio-button")
  var checkboxes = $("[name='$field.get("field-name")']");
  for(var i=0; i<checkboxes.length; i++) { 
    ko.applyBindingsToNode(checkboxes[i], { checked: fundingInfoFormModel.fundingSource }, fundingInfoFormModel );
  }
 #else
ko.applyBindingsToNode($("[id='$field.get("field-name")']")[0], { value: $modelName.$field.get("table-json-propertyName") }, $modelName );
#end
#end

ko.applyBindingsToNode($("[id='$element-id']").find($("[class='addButton']"))[0], 
	{ click: function () { 	
						  add${tableModelName}Row(ko.toJS($modelName));
						  clear$modelName.substring(0,1).toUpperCase()$modelName.substring(1)($modelName);
						  $("[id='$element-id']").dialog('close');
						  }
						   
						 }, $modelName );
						 
ko.applyBindingsToNode($("[id='$element-id']").find($("[class='updateButton']"))[0], 
	{ click: function () { 	
						  edit${tableModelName}Row(ko.toJS($modelName));
						  clear$modelName.substring(0,1).toUpperCase()$modelName.substring(1)($modelName);
						  $("[id='$element-id']").dialog('close');}
						 }, $modelName );

ko.applyBindingsToNode($("[id='$element-id']").find($("[class='cancelButton']"))[0], 
	{ click: function () { 	
						  clear$modelName.substring(0,1).toUpperCase()$modelName.substring(1)($modelName);
						  $("[id='$element-id']").dialog('close');
						  cancel${tableModelName}();
						  } 
						 }, $modelName );
						 
});
</script>