<label for="$field-name">$label</label>
<select class="jaffa-field" id="$field-name">
#foreach($option in $options)
  #if( $option.get("default")) 
  <option selected="selected" value="$option.get("value")">$option.get("label")</option>
  #else
  <option value="$option.get("value")">$option.get("label")</option>
  #end  
#end
</select> 
