<div>#displayMessage($button-for)</div>
#foreach( $button in $buttons )
    <label #if( $multiline )style="display:block;" #end ><input name="$field-name" class="jaffa-field"
    #if( $button.action ) onclick="$button.action" #end
    #if( $button.checked ) checked="checked" #end 
    type="radio" value="$button.value">$button.label</label>
#end