<div>
<input type="hidden" class="nameLookup-url" value="$portalPath/proxyGet.script?ns=Parties_People&qs=searchTerms%3D{searchTerms}" />
<input type="hidden" class="nlaLookup-url" value="$portalPath/proxyGet.script?ns=NLA_SRU&qs={searchTerms}" />
</div>

<div id="$containter-for" class="$!additional-classes">to be replaced</div>
<script>
	$(document).ready(function() {
	   $("[id='$containter-for']").jaffaContainerRepeatable({
		"disable-numbers":true,
		"disable-sorting":true,
		"base-field":"$containter-for",
		"sub-fields": {
			"field":""
		},
        #if("$!add-item-text"!="")"add-item-text":"$!add-item-text",
        #else"add-item-text":"Add",#end
		"delete-item-html":"<button>Remove</button>",
		#if("$!{min-size}"!="")"min-size":$min-size,#end
		#if("$!{max-size}"!="")"max-size":$max-size,#end
		#if("$!{additional-container-classes}"!="")"additional-container-classes":"${additional-container-classes}",#end
		"child-config":{
			"label":"${label}",
			"field":"",
      		"portalPath":"$portalPath",
            #if("$!{suffix}"!="")"suffix":"$suffix",#end
			"sub-elements": $sub-elements.settings	
		},
		"class-list":"widgetListBranding"
        });
    });
</script>