<div id="repeat-textbox-of-$field-name">
<p>You should see something replace this div</p>
</div>
#if ($help)
		<div id="${field-name}-help" class="help-content">#displayMessage($help)</div>
#end

<script>
var widgetListBranding = {
	"" : "control-group",
	".jaffaValidationError" : ["alert", "alert-error"]
};
$(document).ready(function() {
$("[id='repeat-textbox-of-$field-name']").jaffaTextRepeatable({
	"disable-numbers":true,
	"disable-sorting":true,
	"base-field":"$field-name",
	"sub-fields": {
		"field":""
	},
	"add-item-text":"Add",
	"delete-item-html":"<button>Remove</button>",
	"min-size":1,
	"child-config":{
		"label":"${label}",
		"field":""
	},
	"class-list":widgetListBranding,
	#if ($help)
	"help-content": "[id='${field-name}-help']"
	#end
});});
</script>