<div>
<input type="hidden" class="nameLookup-url" value="$portalPath/proxyGet.script?ns=Parties_People&qs=searchTerms%3D{searchTerms}" />
<input type="hidden" class="nlaLookup-url" value="$portalPath/proxyGet.script?ns=NLA_SRU&qs={searchTerms}" />
</div>

<div id="$containter-for" class="$!additional-classes">to be replaced</div>
<script>
	$(document).ready(function() {
	   $("[id='$containter-for']").jaffaContainerRepeatable({
		"disable-numbers":true,
		"disable-sorting":true,
		"base-field":"$containter-for",
		"sub-fields": {
			"field":""
		},
        #if("$!add-item-text"!="")"add-item-text":"$!add-item-text",
        #else"add-item-text":"Add",#end
		"delete-item-html":"<button>Remove</button>",
		"min-size":1,
		"child-config":{
			"label":"${label}",
			"field":"",
      		"portalPath":"$portalPath",
			"sub-elements": $sub-elements.settings	
		},
		"class-list":"widgetListBranding"
        });
    });
</script>