## Save and redirect closeUrl if it is needed. If oid is needed, set appendOID: true
#set($oid = $formData.get("oid"))
<button id="$button-name" #if($action) value="$action" #end 
#if($additional-classes)class="$additional-classes"#end>$label</button>
<script type="text/javascript">
$('#$button-name').click( function () { 
	#if($closeUrl) 
		#if($appendOID) closeUrl="$portalPath/$closeUrl/$oid"; 
		#else closeUrl="$portalPath/$closeUrl"; #end
	#end
	#if($closeWithoutSaving)
		var r=confirm("Are you sure to close without saving?");
		if (r==false) {
		  return;
		} else {
		window.location = closeUrl;
		}
	#else
		action= $(this).val();
		#if($skipValidation)
			skipValidation = true; ## Used by form-template::preSave 
			jaffa.form.save(true);
		#else
			skipValidation = false; ## Clean previous setting
			jaffa.form.save();
		#end
	#end	
}
);
</script>
