#foreach( $transition in $transitions )
	#if ($transition.type == 'button') 
		<button 
	 #else 
		<a href="#" 
	#end
	transition-name="$transition.name" onclick="transition_click(this)" 
	#if ( $transition.form-submit-action) form-action = "$transition.form-submit-action" #end  
	#if ( $transition.close) 
		#if ( $transition.closeUrl ) 
			#set($oid = $velocityContext.get("formData").get("oid"))
			close-transition="$portalPath/$transition.closeUrl?oid=$oid"
		#else 
			close-transition="$portalPath/home"
		#end
	#end
	#if ( $transition.object-metadata-params)
			object-metadata-params="#foreach( $params in $transition.object-metadata-params)$params.key;$params.value:#end"		
	#end
	#if($additional-classes)class="$additional-classes"#end
	>$transition.name
	#if ($transition.type == 'button') </button>
	#else 	</a>
	#end
#end