body {
    background: none;
    font-size: 90%;
    border-top: 0px;
}

fieldset {
    background: transparent;
}

ul {
    margin-bottom: 0px;
}

/* 960gs overrides */
.container_16 {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.block {
    padding-top: 4px;
}

.article {
    border: none;
    padding-top: 0px;
}

/* menu bar */
.menubar form {
    display: inline;
    line-height: 2.5em;
}

.menubar li span.status {
    height: 2.5em;
    line-height: 2.5em;
    margin: 0px 5px;
}

.menubar {
    background-color: #FFF5D2;
    margin: 0px;
    padding: 0px;
}

.menubar ul {
    margin: 0px;
}

.menubar li.hidden {
    display: none;
}

.menubar li.secondary {
    float: right;
}

.menubar li {
    margin: 0px;
    float: left;
    position: relative;
    background-color: #FFF5D2;
}

.menubar li a {
    height: 2.5em;
    line-height: 2.5em;
}

.menubar li.secondary span a,.menubar li.search a {
    margin-left: 0px;
}

.menubar ul.dropdown li a:hover {
    border-top: 1px dotted #959CA1;
}

.menubar ul li.selected-view a:hover,.menubar ul li.selected-view a {
    background: #FFF5D2;
    font-style: italic;
}

ul.dropdown {
    cursor: default;
    left: -9000px;
    max-width: 100%;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 2.5em;
}

li:hover ul.dropdown {
    left: 10px;
    z-index: 10;
}

ul.dropdown li a {
    display: block;
    border-top: 1px dotted #959CA1;
    background: none repeat scroll 0 0 #FFF5D2;
    height: 2em;
    line-height: 2em;
    width: 12em;
    text-align: left;
    margin: 0px;
    padding: 0px 3px;
    background: none repeat scroll 0 0 #FFF5D2;
}

/* headings */
#page-heading span {
    font-size: 1.45em;
}

.content h2 {
    border-bottom: 1px dotted #959CA1;
    font-size: 1.45em;
    margin-top: 0px;
}

.content h2 span {
    font-size: 1em;
}

/* nav menus */
.menu .selected {
    background: none;
}

.menu li a.selected {
    font-weight: bold;
}

ul.menu li {
    padding-top: 2px;
    padding-bottom: 0px;
}

ul.menu li a {
    border: none;
    margin: 0px;
    padding: 2px 0px 2px 10px;
}

.mainmenu,.whatsnew,.relatedlinks {
    margin: 0px 0px 12px 0px;
    padding: 0px;
    width: 100%;
}

.mainmenu ul.menu li {
    margin-bottom: 2px;
}

.mainmenu li {
    padding: 2px 0px 2px 10px;
    border-bottom: 1px solid #C7CBCE;
}

.mainmenu li a:hover {
    background: none !important;
}

.packaging li {
    background: transparent;
}

ul.packaging li a {
    padding-left: 30px;
}

/* home page search */
.search {
    margin-bottom: 12px;
}

.search .block {
    background: #FFF8DB;
    border: 1px solid #FFE141;
    padding: 5px;
}

.search form {
    margin-bottom: 4px;
}

/* sections */
.relatedlinks,.whatsnew {
    background: #F0F1F3;
}

.specialmenuheading-heading a {
    color: white;
    font-weight: bold;
}

.specialmenuheading-heading a:link {
    text-decoration: none;
}

/* facets */
#action-list .relatedlinks-bodytext {
    margin: 0px;
    padding: 0px;
}

#action-list .relatedlinks-bodytext .facet-list {
    background: white;
}

#action-list .relatedlinks-bodytext .tree {
    background: #F0F1F3;
}

.relatedlinks-bodytext ul,.relatedlinks-bodytext ol {
    padding-left: 0px;
}

.facet-list ul.menu li {
    background: #F0F1F3
        url(http://www.usq.edu.au/Migration.Standard.Website/Images/959ca1_arrow.gif)
        no-repeat 5px 8px;
    margin-bottom: 2px;
    padding-left: 0px;
}


.facet-list ul.menu li a {
    border-bottom: 1px solid #CCC;
    color: black;
    padding-left: 18px;
}

.facet-list ul.menu li:hover {
    background: #DBDEE0
        url(http://www.usq.edu.au/Migration.Standard.Website/Images/959ca1_arrow.gif)
        no-repeat 5px 8px;
    border: none;
}

.facet-list ul.menu li a:hover {
    background: transparent;
}

.facet-list ul.menu li ul {
    background: white;
}

.facet-list ul.menu li.more {
    margin: 0px;
    padding: 0px;
}

.facet-list ul.menu li.more ul li a {
    padding-left: 18px;
}

/* paging */
div.paging, .sorting {
    font-size: 13px;
}

div.paging {
    margin-top: 2px;
}

div.paging ul {
    margin-bottom: 4px;
}

div.paging ul:before {
    content: "Page ";
}

div.paging li a {
    color: #0066FF;
}

div.paging .selected-page, div.paging li a:hover {
    background: none;
    color: #A90A08;
    font-weight: normal;
}

/* results list */
#result-list .article {
    border: none;
    border-bottom: 1px dotted #959CA1;
    margin-top: 0px;
    padding: 4px 8px 2px 8px;
}

#result-list .alternate {
    background-color: #EEEEEE;
}

#result-list .article h3 {
    font-size: 1.25em;
    padding-left: 0px;
    margin-top: 2px;
    padding-top: 0px;
}

#result-list .article h3 a {
    padding-left: 0px;
    vertical-align: top;
}

#result-list .tags {
    border: 0px;
}

#result-list .content h2 span {
    font-size: 0.7em;
}

/* content */
.page-toc {
    font-size: 0.85em;
    margin-bottom: 10px;
}

.rendition-links {
    border-color: #CCCCCC;
}

.metadata .whatsnew-bodytext,.attachments .whatsnew-bodytext {
    border-top: none;
    padding: 0px;
}

.metadata table {
    margin-bottom: 0px;
}

table.meta {
    margin-top: 0px;
}

tbody th, tbody td {
    border-top: none;
    background: transparent;
}

/* annotations */
.anno-command img {
    margin: 0px;
}

/* notification */
#notifications {
    font-size: 1.15em;
}

#notifications .specialmenuheading-heading {
    background: #CC3300;
}

/* collapsible */
.collapsible {
    background: url("../images/icons/switch_plus.gif") no-repeat scroll 95% 50%
        transparent;
    color: white;
    display: block;
    margin: 0px;
    padding: 0px 12px 0px 0px;
    font-weight: bold;
}

.collapsible.visible {
    background-image: url("../images/icons/switch_minus.gif");
}

.attachments li a {
    color: black;
}
.relatedlinks-bodytext .block ol {
    list-style: decimal outside none;
}
.relatedlinks-bodytext .block ol li {
    background: transparent;
    list-style: decimal outside none;
    padding-left: 0px;
}
.relatedlinks-bodytext .block ol li.owner {
    background: url("../images/icons/user.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
.relatedlinks-headingtext a {
    color: #FFFFFF;
}
#result-list .content h2, #preview .article-heading {
  margin: 0px;
  background-color: #FFF5D2;
  border: 1px solid #BBBBBB;
  padding: 5px 10px;
  font-size: 150%;
}
#result-list .content .no-result {
  background-color: transparent;
  font-size: 150%;
}
#result-list .article {
  padding: 5px 10px;
}
#result-list .article h3 {
  margin-top: 3px;
}
#result-list ul.nav {
    margin: 0px;
    background-color: #FFF5D2;
    border: 1px solid #BBBBBB;
    border-top: 0px;
    padding-bottom: 5px;
}
#result-list ul.nav li {
    background-color: #FFF5D2;
}
#result-list ul.nav li a {
    background-color: #FFF5D2;
    color: black;
}
#result-list ul li a {
    padding-top: 4px;
}
#result-list ul li a:hover {
    background-color: #FFE794;
    border-left: 0 solid #FFE794;
    border-right: 0 solid #FFE794;
    border-top: 4px solid #FFCB00;
    text-decoration: none;
    padding-top: 0px;
}
#result-list ul li ul a {
    border: 1px solid #BBBBBB;
}
#result-list ul li ul a:hover {
    border: 1px solid #BBBBBB;
}
#result-list ul li a.inactive:hover {
    background-color: #FFF5D2;
    border: 0px;
    text-decoration: none;
    padding-top: 4px;
}
#result-list .results-total {
    color: black;
}
.header_search fieldset {
    padding: 2px;
}