<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	
	<bean id="hibernateAuthUserDao"
		class="com.googlecode.fascinator.dao.impl.GenericDaoHibernateImpl">
		<constructor-arg>
			<value>com.googlecode.fascinator.common.authentication.hibernate.HibernateUser</value>
		</constructor-arg>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="queryMap">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="getUserWithSource" value="FROM HibernateUser WHERE username = :username AND source = :source"/>
				<entry key="getUser" value="FROM HibernateUser WHERE username = :username"/>
			</map>
		</property>		
	</bean>
	
	<bean id="hibernateAuthUserAttributeDao"
		class="com.googlecode.fascinator.dao.impl.GenericDaoHibernateImpl">
		<constructor-arg>
			<value>com.googlecode.fascinator.common.authentication.hibernate.HibernateUserAttribute</value>
		</constructor-arg>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="queryMap">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="getAllFromUser" value="FROM HibernateUserAttribute WHERE user = :user"/>
			</map>
		</property>				
	</bean>
</beans>