<script type='text/javascript'>
$(document).ready(function() {
	$(".tab-heading").show();
	$("#simpleworkflow-form").accordion({
            autoHeight:false,
            clearStyle:true,
            collapsible:false,
            header:".tab-heading"
        });
});
</script>