<Identify>
    <repositoryName>The Fascinator</repositoryName>
    <baseURL>$urlBase$portalId</baseURL>
    <protocolVersion>2.0</protocolVersion>
    <adminEmail>fascinator@usq.edu.au</adminEmail>  ## use system-config email?
    <earliestDatestamp>0001-01-01T00:00:00Z</earliestDatestamp>
    <deletedRecord>persistent</deletedRecord>
    <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
    <description>
        <oai-identifier xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd" xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier">
            <scheme>oai</scheme>
            <repositoryIdentifier>fascinator.usq.edu.au</repositoryIdentifier>
            <delimiter>:</delimiter>
            <sampleIdentifier>oai:fascinator.usq.edu.au:5e8ff9bf55ba3508199d22e984129be6</sampleIdentifier>
        </oai-identifier>
    </description>
</Identify>
