<ListMetadataFormats>
    #set($formats = $self.metadataFormats)
    #foreach($prefix in $formats.keySet())
        #set($format = $formats.get($prefix))
        <metadataFormat>
            <metadataPrefix>$prefix</metadataPrefix>
            <schema>$format.getString($nullValue, "schema")</schema>
            <metadataNamespace>$format.getString($nullValue, "metadataNamespace")</metadataNamespace>
        </metadataFormat>
    #end
</ListMetadataFormats>
