<ListIdentifiers>
    #foreach($item in $itemList)
        <header#if($self.isDeleted($item)) status="deleted"#end>
            <identifier>$self.getID($item)</identifier>
            <datestamp>$item.getFirst("last_modified")</datestamp>
            <setSpec>$self.getSet($item)</setSpec>
        </header>
    #end

    #if ($self.getToken() != $nullValue)
        <resumptionToken>$self.getToken().getToken()</resumptionToken>
    #end
</ListIdentifiers>
