<div class="clear"></div>
<div class="footer">
  ABN: 40 234 732 081 | CRICOS:
  <a href="http://cricos.deewr.gov.au/Institution/InstitutionDetails.aspx?ProviderID=244" title="USQ Queensland CRICOS Provider Code">QLD 00244B</a>
  | <a href="http://cricos.deewr.gov.au/Institution/InstitutionDetails.aspx?ProviderID=2225" title="USQ New South Wales CRICOS Provider Code">NSW 02225M</a>
  | <a href="http://www.usq.edu.au/aboutsite/copyright.htm" title="Copyright statement">&copy; University of Southern Queensland</a>
  | <a href="http://www.usq.edu.au/records/rtiandlegaldiscovery" title="Right to Information"> Right to Information</a>
  |
  <span class="noprint">
    <a href="http://www.usq.edu.au/aboutsite/disclaimer" title="Disclaimer statement">Disclaimer</a>
    | <a href="http://www.usq.edu.au/aboutsite/privacy" title="Privacy statement">Privacy</a>
    | <a href="http://www.usq.edu.au/aboutsite/feedback" title="Provide feedback on the USQ website">Feedback</a>
    | <a href="http://www.usq.edu.au/sitemap" title="Provide feedback on the USQ website">Sitemap</a>
    | <a href="http://www.usq.edu.au/contact" title="Contact USQ">Contact us</a>
    |
  </span>
  Updated 8 November 2010
  <div class="linefooter">
    <div class="linefooterright">
    </div>
  </div>
</div>
