#set($hasWorkflow = $self.hasWorkflow())
#set($hasWorkflowAccess = $self.hasWorkflowAccess())
#if($hasWorkflow && $hasWorkflowAccess)
    #set($workflowStep = $self.getWorkflowStep())
    <li>
        <a href="$portalPath/workflow/$oid" title="$workflowStep">Edit Workflow: $workflowStep</a>
    </li>
#end
