#set($validFFmpeg = $self.parseFFmpeg($parent))
#set($preview = $metadata.get("preview"))
#set($previewPid = $parent.getPreviewPid())
#if ($previewPid != "")
    #set($preview = $previewPid)
#end

#if($parent.isDetail())
    <table>
        <tbody>
            <tr>
                <td id="player-container">
                    <div id="player"></div>
                </td>

                <td style="vertical-align: top">
                    <button class="player_reset" disabled="disabled">Reset player</button>
                    <div class="video-results-list">
                        <div class="video-result-list" anotar-uri="$oid">
                            <!-- Don't remove this comment, it fixes display order of annotations -->
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li><a href="$portalPath/detail/$oid/">Back to Index</a></li>
        <li><a href="$portalPath/detail/$oid/$preview?download=false&amp;preview=true" target="_blank">View in a new window</a></li>
    </ul>

    #if($page.authentication.is_admin())
        <h3>Admin User : FFmpeg Data</h3>
        #if ($validFFmpeg)
            <p><b>Basic Data</b></p>
            <table>
                <tr><th>Filename:</th><td>$preview</td></tr>
                <tr><th>Format:</th><td>$self.getFFmpegData($preview, "format")</td></tr>
                <tr><th>Codec:</th><td>$self.getFFmpegData($preview, "codec")</td></tr>
                <tr><th>Width:</th><td>$self.getFFmpegData($preview, "width")</td></tr>
                <tr><th>Height:</th><td>$self.getFFmpegData($preview, "height")</td></tr>
                <tr><th>Size:</th><td>$self.getFFmpegData($preview, "size")</td></tr>
            </table>
            <p><b>Transcoding Output</b></p>
            <blockquote>$self.getFFmpegDebugging($preview)</blockquote>
        #else
            <p><b>Error parsing payload</b></p>
            <div>$self.getRawFFmpeg()</div>
        #end
    #end
#else
    <div id="player-container"></div>
#end
