#set($query = $page.escapeHtml($page.getQuery()))
<script type="text/javascript">
<!--
    $(function() {
        addActionParam("query", "$!query");

        if ($("#action-list div").length == 0) {
            $("#result-list").removeClass("grid_12").addClass("grid_16");
        }

        // facet actions
        $("#clear-facets").click(function() {
            doAction("clear_fq");
            return false;
        });
        $(".add-facet").click(function() {
            doAction("add_fq", $(this).attr("rel"));
            return false;
        });
        $(".remove-facet").click(function() {
            doAction("remove_fq", $(this).attr("rel"));
            return false;
        });

        $("a.more").click(function() {
            var me = $(this);
            var rel = me.parent().attr("rel");
            var facets = $("li[rel='" + rel + "']").find("ul.hidden");
            if (facets.is(":hidden")) {
                me.text("less...");
            } else {
                me.text("more...");
            }
            facets.toggle("blind");
            return false;
        });
    });
-->
</script>
