<script type="text/javascript" src="$portalPath/js/tree/jquery.tree.min.js"></script>
<script type="text/javascript">
<!--
  // hierarchical facet trees
  function createTree(selector, facetField) {
      var tree = jQuery.tree.create();
      tree.init($(selector), {
          data: {
              type: "json",
              opts: {
                  url: "$portalPath/facetTree.ajax?facet.field=" + facetField
              }
          },
          selected: $self.selectedFacetIds,
          ui: {
              animation: 250,
              dots: false,
              theme_name: "checkbox"
          },
          opened: [],
          plugins: {
              checkbox: {},
              cookie: {
                  prefix: "tf_tree_" + facetField
              }
          },
          callback: {
              beforedata: function(node, tree) {
                  return {
                      id: $(node).attr("id") || 0,
                      query: $("#query").val()
                  };
              },
              onchange: function(node, tree) {
                  $(node).children("a").removeClass("clicked");
                  $(node).children("a").toggleClass("checked");
              },
              onload: function(tree) {
                  var anchor = tree.container.find("a");
                  anchor.bind("click", function() {
                      var checked = $(this).hasClass("checked") == false;
                      doAction(checked ? "add_fq" : "remove_fq", $(this).parent().attr("fq"));
                  });
                  var nodeCount = $(selector).find("li").length;
                  if (nodeCount > 0) {
                      $("#"+facetField).parents(".facet-list-container").show();
                  }
              }
          }
      });
      return tree;
  }
-->
</script>