<ListRecords>
    #foreach($item in $itemList)
        #set($deleted = $self.isDeleted($item))
        <record>
            <header#if($deleted) status="deleted"#end>
                <identifier>$self.getID($item)</identifier>
                <datestamp>$item.getFirst("last_modified")</datestamp>
                <setSpec>$self.getSet($item)</setSpec>
            </header>
            #if(!$deleted)
                <metadata>
                #set ($payload = $self.getPayload($item.getFirst("id"), "${self.request.metadataPrefix}.xml"))
                #if ($payload != $nullValue)
                    $self.getPayloadContent($payload)
                #else
                    #parseTemplate("feed/oai-pmh/format/${self.request.metadataPrefix}.vm")
                #end
                </metadata>
            #end
        </record>
    #end
    
    #if ($self.getToken().getToken() != $nullValue)
        <resumptionToken>$self.getToken().getNextToken()</resumptionToken>
    #end
</ListRecords>
