#set($validFFmpeg = $self.parseFFmpeg($parent))

## Packaging, wrap in an iframe
#if ($parent.inPackage())
    <a class="iframe-link-alt" href="$portalPath/detail/$oid">View outside the frame</a><br/>
    <iframe id="iframe-video-player" scrolling="no" frameborder="0" class="iframe-preview video" src="$portalPath/detail/$oid?preview=true"></iframe>

#else

    #set($previews = $parent.getAllPreviews())
    #foreach ($preview in $previews)
        #set($format = $self.getFFmpegData($preview, "format"))
        #set($codec = $self.getFFmpegData($preview, "codec"))
        #set($width = $self.getFFmpegData($preview, "width"))
        #set($height = $self.getFFmpegData($preview, "height"))
        #set($size = $self.getFFmpegData($preview, "size"))
        #set($size = $self.niceSize($size))

        #set($url = "${portalPath}/detail/${oid}/${preview}?download=false")
        #if (!$parent.isDetail())
            #set($url = "${url}&preview=true")
        #end

        <div class="ffmpegIndex">
            <p><b>File</b>: <a href="$url">$preview</a></p>
            <b>Resolution</b>: $width x $height<br/>
            #if ($codec == "")
            <b>Format</b>: $format<br/>
            #else
            <b>Format</b>: $format ($codec)<br/>
            #end
            <b>Size</b>: $size<br/>
        </div>
    #end

#end
